[2019-08-06 23:29] Morriz opened #1 "App CRD"
# Results:
App CRD which results in:
1. Autoscaled knative service from docker image / git repo
2. Stateful service connection from Service Catalog (redis, mongo, mysql)

# TODO:
1. Research & choose: OAM (with dapr & rudr) or CNAB?

[2019-08-07 12:36] Morriz opened #3 "Team namespace: knative services"
System input:
* docker image info
* https domain
* certArn?

System output:
* running app on domain
* cert generated by cert-manager? (if not certArn)

[2019-08-14 22:14] Morriz opened #4 "re-enable mtls when possible for:"
- cert-manager
- grafana

[2019-08-14 22:16] Morriz opened #5 "Upgrade istio"
Upgrade istio with:
1. SDS for Azure (Azure needs feature flag to be able to use secret projection)
2. full mtls: figure out what is now not working with mtls correctly

[2019-08-19 22:23] Morriz opened #6 "GitLab tryout"
https://gitlab.k8s-dev.otomi.cloud

limitations:
- no mtls yet (issue opened with gitlab team)
- no gcs yet (minio with pvcs)

todo:
- create basic ci/cd pipeline

[2019-10-08 08:12] srodenhuis opened #8 "Template to deploy WordPress container with MySQL database"
Add template to template repository to create a WordPress setup with:
1. a Wordpress image (multiple versions)
2. a MySQL database (with persistent storage)
3. persistent file storage (multiple tiers)
- fast (SSD)
- regular (HDD)
4. backup plan (file and db)

[2019-10-10 12:42] srodenhuis opened #9 "Create Demo for Mediawiki application (with Knative)"
For a (potential) customer, I would like to give a demo for the following use case:
- they have a private Gitlab CI instance
- they manage their own images (for media wiki instances) based on a mediawiki base image
- We demonstrate the deployment of a new app. This results in a Knative deployment and a URL to access the app is provided.
- We demonstrate how to update (add plug-ins and PHP extensio

[2019-10-15 01:24] Morriz opened #10 "Customer CRD"
Should reflect what a customer has chosen:
- one or more projects (results in namespaces)
- shared services (in {custId}-shared namespace

[2019-11-27 09:35] j-zimnowoda opened #14 "Execution of hfp command sometimes fails with error"
**Describe the bug**
Execution of `hfp` command sometimes fails with error
[code]

It might be related to old token stored in `~/.kube/config` , since I am able to fix it by calling `kap` command.

**To Reproduce**
It usually happens if I am not using this command by 1H

**Expected behavior**
It always works :)

[2019-11-28 12:14] #14 closed, assigned to nobody

[2019-12-06 14:54] j-zimnowoda opened #17 "App Identity and Access Istio Adapter"
The adapter is out of the box solution that seamlessly integrates authentication and authorisation functionality for services (apps) that are deployed in k8s cluster.
**Refer to:**
- https://cloud.ibm.com/docs/services/appid?topic=appid-istio-adapter
- https://istio.io/blog/2019/app-identity-and-access-adapter/

[2019-12-09 10:15] Morriz opened #18 "Team namespace"
- ingress
- network policies
- opa policies
- istio authorization policies
- knative services (if container given)

[2019-12-09 10:21] Morriz opened #19 "Enhance OPA policies"
We want our opa policies to also limit access to the following resources:
- istio stuff
- ResourceQuota
- ?

[2019-12-09 10:23] Morriz opened #20 "Implement dashboards for admins"
## Admin:

Landing on service dashboard

Top menu with items:

1. Team list:
- list of teams, with create/edit/delete leading to

1.1 Team:
- name
- password (used for multitenancy proxies, should become generated)
- oidc details
- base domain
- list of services, create/edit/delete leading to

1.1.1 Team services:
- name (used for url creation)
- service toggle:
  - k8s svc (predeployed k8s servic

[2019-12-09 10:50] Morriz opened #21 "Remove Certificate resources in favour of transparent tls/acme annotation"

[2019-12-09 10:54] Morriz opened #22 "Istio Authorization Policies for teams"
Auth proxy passes Auth-Group header to create Istio Authorization Policies. These policies must end up in the team-ns chart.

[2019-12-15 19:57] srodenhuis opened #23 "Team dashboards"
Features for team dashboards:

- Not 'Service Index', but 'Team [$TEAM_NAME] dashboard' (when dashboard is for a specific team)
- Not 'Service Index', but Cluster Admin Dashboard (when dashboard is for admins with full cluster scope)
- Otomi Stack logo on page

Other:
Grafana only showing some dashboards relevant to the team (no cluster resources like nodes, no k8s resources)

[2019-12-27 14:42] #17 closed, assigned to j-zimnowoda

[2020-01-08 08:12] j-zimnowoda opened #28 "otomi-stack deploys otomi-stack-api chart for each team"

[2020-01-08 08:12] j-zimnowoda opened #30 "otomi-stack-api can be deployed via helm chart"
The Pod configuration:
1. have initContainer that:
- pulls git repo with otomi-stack and stores in EmptyDir volume
- prepares .kube and  stores in EmptyDir volume

2. The otomi-stack-api container should
- mount otomi-stack volume
- mount kube volume
- use env from ConfigMap

The ConfigMap:
- PORT

[2020-01-13 17:02] j-zimnowoda opened #31 "otomi-stack deploys otomi-stack-api chart for admin role"

[2020-01-14 14:14] Morriz opened #32 "create architecture overview"
per configuration:
- external LB (or not)
- oauth2
- istio
- team ns

[2020-01-21 21:53] srodenhuis opened #33 "Add Kured to Otomi Stack"
Both BCT and NS have asked if Kured could be shipped as part of Otomi Stack

See: https://github.com/weaveworks/kured

[2020-01-21 21:55] srodenhuis opened #34 "Add cluster auto scaler to be used on AKS (Azure)"
It seems the cluster auto scaling feature for AKS (still in preview) is not working. We need to make sure the cluster auto scaler add-on can be used instead.

Also test the auto-scaling feature on both AKS and EKS

[2020-01-21 22:06] srodenhuis opened #35 "Add AAD Pod Identity (Azure) and Kube2IAM (AWS)"
Both NS and BCT have asked to provide access to k8s applications to specific cloud resources (databases) based on role based access. To support this feature we need to integrate/support:

AAD Pod Identity for Azure
Kube2IAM for AWS

[2020-01-21 22:11] srodenhuis opened #36 "Add / support Promitor (Azure)"
In our AKS setup we utilise an App Gateway in combination with a WAF feature. BCT has asked if logs from the WAF can be showed in a Grafana dashboard.

Maybe https://promitor.io/ can be a solution. Can we do a small test to see if we can get relevant logs/metrics out of Azure into a Grafana dashboard. We would like to have a single plane of glass for all metrics/logs

[2020-01-29 08:51] srodenhuis opened #39 "Add vertical pod auto scaler"
See https://github.com/kubernetes/autoscaler/tree/master/vertical-pod-autoscaler

[2020-01-30 07:40] #39 closed, assigned to nobody

[2020-02-04 20:10] Morriz opened #44 "network policies in charts/team-ns"
We need to limit the following for team namespaces:
- no cross namespace traffic except to "shared" namespace
- disable all egress, but only if a more specific egress rule for apps can be deployed later, resulting in allowed egress to targets specified in a service config's `egressTargets`

[2020-02-09 10:44] #3 closed, assigned to Morriz

[2020-02-09 10:50] #4 closed, assigned to Morriz

[2020-02-09 10:51] #5 closed, assigned to Morriz

[2020-02-09 10:53] #6 closed, assigned to Morriz

[2020-02-09 11:04] #8 closed, assigned to nobody

[2020-02-10 17:38] Morriz opened #45 "create post-deploy script"
create post-deploy script to reboot some pods (preferably when conditions match, like when team is added):
- istio-pilot.istio-system: done in drone pipeline
- loki-0.monitoring (investigate if it's needed)

[2020-02-16 12:32] srodenhuis opened #48 "Add online form to admin dashboard to submit support tickets"
When a customer uses otomi stack, they will always get support. We can provide a form (automatically configured with the correct customer information (like customer, support level, clustername, et cetera) that can be used to submit tickets to us

# Analysis
- Find out connectivity with zoho desk

[2020-02-17 10:37] Morriz opened #50 "Additional otomi-stack tests"
Pipeline tests for dev cluster only:
1. lint (already there)
2. diff

Add additionalConfigs target in prometheus-operator for prom-blackbox-exporter

[2020-02-17 11:31] Morriz opened #51 "Slack tuning"
Now we get too many slack issues, which we can resolve:

CRIT:
- Kubelet down: do we need to monitor this? Is it only an active rule? Can we disable this?

NON CRIT:
- KubeQuotaExceeded: limit can be removed once we tuned OPA to not allow teams to edit their quota. (see #19)

[2020-02-17 14:30] Morriz opened #52 "map all core services onto one domain with path mapping"
both cloud ingress as well as nginx-ingress should have this

NOTE: because of auth cookie we have to create at least one dashboard per team.

[2020-02-18 09:08] Morriz opened #54 "chart resource checkup & tuning"
Most charts have preconfigured sane resource specifications, but we need to find out which don't have sane values, and which ones have none.

Team service will get a LimitRange as fallback, but we really want to tune all of our own workloads.

[2020-02-18 12:46] j-zimnowoda opened #55 "A customer can upgrade otomi-stack"
**Prerequisites:**
- A customer has its own repo that contains only `values`
- `values` has appVersion
- FluxCD with Redis backend [(link)](https://github.com/fluxcd/flux/pull/2815#issuecomment-600305946)

**Upgrade scenario:**
- an otomi-stack version is released as a docker image
- the scanner in otomi-api detects it and patches drone with the new STACK_VERSION env var.  Redis client listens (pu

[2020-02-18 14:30] Morriz opened #56 "support sops to encrypt values/_env folder"
We should support [sops](https://github.com/mozilla/sops) so that we can encrypt `values/_env/**/*`

[2020-02-18 14:35] #20 closed, assigned to Morriz

[2020-02-25 14:09] j-zimnowoda opened #57 "Task: Change key isPublic to addSingleSignOn"

[2020-02-25 14:11] j-zimnowoda opened #58 "Add isPublic key that indicated that a service is public domain"

[2020-02-26 14:10] j-zimnowoda opened #59 "Creating GKE cluster script has dependency on directory that I mounted from Otomi-values repo"
[code]

[2020-02-26 14:16] j-zimnowoda opened #60 "Containers in external-dns and cert-manager-cainjector PODs does not start"
**Describe the bug**
After deploying otomi-stack on GKE cluster:
[code]

[code]
**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2020-02-26 14:17] j-zimnowoda opened #61 "Containers in external-dns and cert-manager-cainjector PODs does not start"
**Describe the bug**
After deploying otomi-stack on GKE cluster:
[code]

[code]

**Additional context**
Killing pods does not help

[2020-02-27 08:59] j-zimnowoda opened #62 "Drone pods stuck in terminating state"
**Describe the bug**
[code]

[2020-02-27 12:49] #60 closed, assigned to nobody

[2020-02-27 16:27] j-zimnowoda opened #63 "Two factor authentication may disallow to login to drone"
While accessing Drone: e.g.: https://drone.team-admin.dev.aks.otomi.cloud

You may see HTTP 500 error do to the fact that our SSO does not support 2-factor authentication.

Workaround:
If you see this issue then
1. In you web browser logout from github
2. then login you will be prompted to fill additional code.
3. After successful login try to access drone from otomi-stack

[2020-03-09 15:36] j-zimnowoda opened #64 "Cannot redeploy drone"
[code]

[2020-03-09 15:57] j-zimnowoda opened #65 "Drone leaves unterminated pods"
[code]

[2020-03-11 14:08] j-zimnowoda opened #66 "Unable to redeploy Drone"
Reason:
[code]

Workaround:

Delete old drone ReplicaSet:
[code]

[2020-03-11 14:46] j-zimnowoda opened #67 "The prometheus-operator-prometheus-node-exporter resource limits changes with each deplyment"
[code]

[2020-03-16 07:49] j-zimnowoda opened #68 "A service by default is not exposed to the public domain."
# EXAMPLE
Add isExposed field:
[code]

Adding this feature involves changes in the following files:
- make conditional adding service to Nginx-ingress in`charts/team-ns/templates/nginx-ingress.yaml`
- make conditional adding hosts field for VirtualService in
`charts/team-ns/templates/istio-virtualservices.yaml`
- make conditional adding host to `ingressgateway` in `charts/team-ns/templates/istio-g

[2020-03-16 08:16] #58 closed, assigned to nobody

[2020-03-16 09:58] Morriz opened #69 "make kiali anonymous"

[2020-03-16 15:22] Morriz opened #70 "add kiali and jaeger to team dashboards"

[2020-03-16 15:27] #66 closed, assigned to nobody

[2020-03-16 15:29] #61 closed, assigned to nobody

[2020-03-16 15:30] #59 closed, assigned to nobody

[2020-03-16 15:32] #65 closed, assigned to nobody

[2020-03-25 09:46] #45 closed, assigned to nobody

[2020-03-25 11:08] Morriz opened #72 "check if we can use AzureOIDC connector for oauth2-proxy"
https://github.com/pusher/oauth2_proxy/pull/308

[2020-03-30 16:29] Morriz opened #73 "Azure Monitor in Grafana"
# User story
As an Azure user, I want to use Azure Monitor, so I can see Azure related metrics and logs.

*Ideally, this is in the issue title, but if not, you can put it here. If so, delete this section.*

# Acceptance criteria

- [x] View datasource in Grafana and see that Azure Monitor is there
- [x] View Dashboards in Grafana and see that the following dashboards are there:
  - [x] azure monit

[2020-03-31 13:56] #18 closed, assigned to nobody

[2020-03-31 13:56] #30 closed, assigned to j-zimnowoda

[2020-03-31 13:58] #23 closed, assigned to nobody

[2020-03-31 13:58] #31 closed, assigned to nobody

[2020-03-31 14:11] #51 closed, assigned to Morriz

[2020-03-31 14:24] #62 closed, assigned to nobody

[2020-03-31 14:26] #9 closed, assigned to Morriz, srodenhuis

[2020-04-01 09:24] #68 closed, assigned to j-zimnowoda

[2020-04-02 10:01] Morriz opened #78 "Remove related cluster resources when service is deleted"
Make sure resources are removed when a service is removed from the values.

[2020-04-06 23:29] #64 closed, assigned to nobody

[2020-04-07 23:34] #28 closed, assigned to Morriz

[2020-04-09 09:02] #73 closed, assigned to Morriz

[2020-04-09 10:09] Morriz opened #74 "Authz for groups"
We need to update `oauth2-proxy` image to make it serve groups in the JWT.

[2020-04-09 10:11] Morriz opened #75 "populate core.clusters[].hasKnative flag"

[2020-04-09 11:07] Morriz opened #76 "Use one proxy per type"
The following proxies now exist in each namespace:
- oauth2-proxy-team-$teamId
- nginx-ingress-team-$teamId-proxy
- nginx-ingress-team-$teamId-apps
- nginx-ingress-team-$teamId-apps-forwarded
- nginx-ingress-team-$teamId-public
- nginx-ingress-team-$teamId-private

But we only need one of each in the ingress namespace:
- oauth2-proxy
- nginx-ingress-proxy
- nginx-ingress-apps
- nginx-ingress-apps-

[2020-04-13 12:21] #75 closed, assigned to Morriz

[2020-04-14 15:31] Morriz opened #77 "Add dnsZones to clusters and prepopulate with domain"

[2020-04-15 07:23] Morriz opened #79 "Implement proper alert silencing"
https://stackoverflow.com/questions/54806336/how-to-silence-prometheus-alertmanager-using-config-files

[2020-04-15 07:42] Morriz opened #80 "BCT: check and fix Jaeger restarting"

[2020-04-15 08:13] Morriz opened #81 "BCT: check and fix istio-tracing not starting"
logs show "Failed to init storage factory"

[2020-04-15 10:19] Morriz opened #82 "Remove related cluster resources when team is deleted"
Make sure resources are removed when a team is removed from the values.

Possible solution: create maintenance task that performs diff and removes old team chart.

[2020-04-21 09:08] #77 closed, assigned to Morriz

[2020-05-08 09:08] #78 closed, assigned to Morriz

[2020-05-18 17:14] #80 closed, assigned to Morriz

[2020-05-18 17:16] #81 closed, assigned to Morriz

[2020-05-19 12:15] #21 closed, assigned to Morriz

[2020-05-19 12:46] #50 closed, assigned to nobody

[2020-05-19 12:47] #69 closed, assigned to nobody

[2020-05-19 12:50] #63 closed, assigned to nobody

[2020-05-19 14:53] #52 closed, assigned to nobody

[2020-05-19 14:56] #79 closed, assigned to Morriz

[2020-05-25 13:36] Morriz opened #85 "add automatic PV© resizing"
Investigate something like https://github.com/opstree/dynamic-pv-scaler

[2020-06-22 14:28] j-zimnowoda opened #91 "Create harbor project for a team"
If a new team is created then a harbor project is created for that team.

Harbor exposes its api and provides OpenAPI spec, so a client can be easily generated.

Use the following Harbor API endpoints
* POST /projects Creates a new project
* POST /users Creates a new user account
* POST ​/projects​/{project_id}​/members Create project member

[2020-07-09 12:11] Morriz opened #95 "move exporter probes to teams"
they are now all in admin ns

[2020-07-10 09:06] Morriz opened #96 "demo: admin drone proxy is not accessible"
It should be debugged as to which part is failing:

- ingress: seems ok
- drone virtual service is also working

So it could be that a ghost resource is highjacking traffic and confuses nginx or istio.

[2020-07-15 09:53] j-zimnowoda opened #97 "Run maintenance job"
There are two type of jobs:
1) run job just once after service deployment
2) run job each time otomi-stack deployment is triggered

Requirements:
- jobs should obtain configuration through environment variables.
- Moreover if the configuration item is sensitive (e.g.: password) the variable should be taken from `Secret` to ensure that it is never printed out on console during deployment.
- Since j

[2020-07-22 09:32] #96 closed, assigned to rawc0der

[2020-07-22 09:58] Morriz opened #99 "remove core proxy in favor of public drone service with path"
The following should be done:

Refactor team namespace chart:
- [ ] charts/team-ns/templates/ingress.yaml: remove proxy stuff
- [ ] core.yaml: add proxy support to drone by adding a public (without SSO) variant of the service adding the incoming hook path

[2020-07-22 11:00] #55 closed, assigned to nobody

[2020-07-22 13:35] j-zimnowoda opened #100 "Validate values structure against schema"
Otomi stack now has `values-schema.yaml` which is of type jsonschema draft 9. It is used already for generating and delivering a LOOSE `.vscode/values-schema.json` to the values repo via `bin/bootstrap.sh`.

Next phase is to validate all the values against that spec. Best option is to do on the fly transformation if json is needed:
[code]

For requirements on what to build next see complete user s

[2020-08-07 18:06] Morriz opened #104 "blackbox not working for isMultitenant=false"
This is now not working, which affects customers (BCT)

[2020-08-10 15:17] rawc0der opened #108 "HPA issues"
# Absent Memory metrics for HPA resource
**HPA** for apiVersion **autoscaling/v2beta1** is failing on Azure Cloud due to absent memory metrics.
The desired pods should autoscale based on the CPU and Memory utilisation.

# Tasks

1. - [ ] Troubleshooting:   HPA / Metrics-Server/  Memory metrics
2. - [ ] Check Component Versions:  Nginx-Ingress-Controller deployment on azure, Prometheus
3. - [ ] Che

[2020-08-10 15:24] #56 closed, assigned to nobody

[2020-08-11 06:28] #44 closed, assigned to nobody

[2020-08-11 06:31] Morriz opened #105 "Implement pod priority"
We can’t have critical apps like prometheus fail when resources are limited, so we need to identify these and give them high prio

[2020-08-11 06:35] #91 closed, assigned to j-zimnowoda

[2020-08-11 06:36] #97 closed, assigned to j-zimnowoda

[2020-08-11 06:38] #74 closed, assigned to Morriz

[2020-08-11 13:53] #72 closed, assigned to Morriz

[2020-08-15 21:10] Morriz opened #106 "istio gateways: HPAs max out"
We get errors in slack (#mon-otomi) about istio gateway HPAs maxing out. This is probably because of some overly active components. Needs investigation.

[2020-08-15 21:19] Morriz opened #107 "aws: certificates creation resulting in ARNs should be refactored"
Please look at the current `team-ns/templates/certificates.yaml` file, as it holds helm-hook jobs to create certificates on the fly in AWS Certificate Manager. These have to be tested again (as I refactored them already but without testing) and might need refactoring. Please analyse.

[2020-08-16 09:21] #106 closed, assigned to rawc0der, githubcdr, j-zimnowoda

[2020-08-16 10:50] Morriz opened #109 "harbor registry pushes don't update database"
When you do a push to the registry no database entry gets created.

[2020-08-16 10:56] Morriz opened #110 "harbor's clair cpu+mem issues"
what can we do to fix that? I say it's unpermissable like this

[2020-08-16 11:35] Morriz opened #111 "can't login to harbor without oidc"
It is not possible to do a regular login when the oidc client is active. A github issue was created that should be followed up on:

https://github.com/goharbor/harbor/issues/12782

[2020-08-16 12:40] #108 closed, assigned to rawc0der

[2020-08-16 13:21] #104 closed, assigned to Morriz, rawc0der, j-zimnowoda

[2020-08-16 13:28] #95 closed, assigned to Morriz

[2020-08-16 13:50] Morriz opened #112 "new DEV cluster in AWS"
The new `otomi/tools:135` image already has latest eksctl and other upgrades.

Please look at the current `team-ns/templates/certificates.yaml` file, as it holds helm-hook jobs to create certificates on the fly in AWS Certificate Manager. These have to be tested again (as I refactored them already but without testing) and might need refactoring. Please analyse.

You will probably run into some mor

[2020-08-16 13:53] #107 closed, assigned to j-zimnowoda

[2020-09-03 16:50] Morriz opened #121 "refactor file & folder structure"
See parent for requirements. Please start by changing the values repo and then refactor the stack to load the new files.

[2020-09-07 11:45] Morriz opened #122 "Simple smoke tests as post task"
We would like to add a final job as helmfile release `tests-smoke` in `helmfile.d/helmfile-100.tests.gotmpl` that only runs in dev clusters, and does the following:

0. [x] check if oauth-proxy is using keycloak as auth provider:
  - visit landing page, check if it is redirecting to oauth-proxy login page
  - submit form, check if redirecting to keycloak auth page

1. [x] check if keycloak task wa

[2020-09-07 12:26] #112 closed, assigned to rawc0der, githubcdr, j-zimnowoda

[2020-09-07 12:57] Morriz opened #123 "refactor crypt mechanism to only work on changed files"
enhance `otomi commit` to only encrypt & add files that are changed:
  - detect encrypted files' timestamps, and compare with decrypted files' timestamps
  - if different encrypt and add to git

[2020-09-08 12:55] j-zimnowoda opened #125 "Get rid of v.clusterName values"
The cluster name can be derived from cluster object:

[code]
Change in:
[code]

The you can remove `clusterName` in values repo.

[2020-09-15 17:11] Morriz opened #130 "crypt script does not exit 1 on error"
could you please look into how to catch the error in function crypt?

[2020-09-18 11:40] #125 closed, assigned to nobody

[2020-09-20 14:14] #121 closed, assigned to martijncalker

[2020-09-20 14:25] #130 closed, assigned to rawc0der, githubcdr, martijncalker, j-zimnowoda

[2020-09-21 08:18] #123 closed, assigned to rawc0der, martijncalker, j-zimnowoda

[2020-09-21 12:35] j-zimnowoda opened #134 "otomi CLI feedback"
I would like to collect here all the remarks related to otomi CLI.
Next we will create some user stories / tasks based on that feedback.

Feedback:
- check if all dependencies are met (yq)
- check if values are decrypted before running any helfmile related command

[2020-09-22 08:53] Morriz opened #135 "create overprovisioning mechanism"
See https://github.com/uswitch/kubernetes-autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-configure-overprovisioning-with-cluster-autoscaler

[2020-09-22 17:34] Morriz opened #137 "check to see if in otomi_stack_dir not working"
if I don't set ENV_DIR when in otomi-stack, then I don't get a warning/exit when executing commands that check the environment.

[2020-09-24 08:24] #111 closed, assigned to rawc0der, githubcdr, j-zimnowoda

[2020-09-24 08:29] #10 closed, assigned to Morriz

[2020-09-24 08:29] #34 closed, assigned to Morriz

[2020-09-24 08:30] #1 closed, assigned to nobody

[2020-09-28 14:54] Morriz opened #144 "POC: StorageOS"
Let's see how that works, and if we can add it as a storage class.

Users can already install it via OLM, but we could just give it a try and blog about it.

References:
https://docs.storageos.com/docs/self-eval/

Slides:
https://f.hubspotusercontent40.net/hubfs/3402546/04.03.2021%20-%20Migrating%20production%20database%20into%20Openshift_v2.pptx.pdf?utm_campaign=04.03.2021%20-%20Event%20-%20Webin

[2020-09-28 16:35] #134 closed, assigned to Morriz, rawc0der, githubcdr, martijncalker, j-zimnowoda, srodenhuis, bartusz01

[2020-09-29 21:27] #54 closed, assigned to rawc0der, githubcdr, j-zimnowoda

[2020-09-29 21:30] #105 closed, assigned to j-zimnowoda

[2020-09-29 22:06] #137 closed, assigned to j-zimnowoda

[2020-09-29 23:13] #67 closed, assigned to nobody

[2020-09-30 12:54] Morriz opened #152 "some charts are still missing resource specs"
Missing in charts:

grafana: cpu+mem
istio/tracing: cpu+mem
istiod: cpu
istio/kiali: cpu+mem
istio/prometheus: cpu+mem
hello: cpu+mem

The rest seems to run very smooth :)

[2020-10-01 07:20] j-zimnowoda opened #186 "Customise Keycloak login page"
We want to have otomi logo on Keycloak login page, so user knows that login request comes from Otomi Container Platform.

Requirements:
- [x] background: red (color like background behind the 'paper' (dark red) in otomi console
- [x] Login box: white like paper in Otomi Console with (as now) Otomi logo at the top
- [ ] ~Not 'Or select an alternative', but 'Sign in with OAuth'~

[2020-10-01 12:20] rawc0der opened #153 "Implement conftest"
# Tasks
stack:
- [x] Add conftest static binary to the tooling docker image
- [x] extract policies to `policies/*.rego`
- [x] Add `bin/validate-policies.sh` script to validate scripts against all policies
- [x] Update Otomi CLI to use `otomi validate-policies`
- [ ] Provide documentation and examples

[2020-10-13 19:55] #152 closed, assigned to githubcdr

[2020-10-14 08:57] #33 closed, assigned to nobody

[2020-10-14 09:20] Morriz opened #164 "istio upgrade to 1.9"
Istio telemetry is not packaged anymore from 1.8 onwards. Read https://istio.io/latest/blog/2020/addon-rework/ for the rework that needs to happen. In this story we will upgrade istio to 1.9 only. Rest of the work will come in other stories.

Expected outcomes:
- [ ] Istio updated to 1.9

Remaining work:

- Kiali operator added and configured
- Jaeger chart added and configured
- Grafana from prom

[2020-10-14 17:08] #110 closed, assigned to rawc0der, githubcdr, j-zimnowoda

[2020-10-19 08:27] j-zimnowoda opened #168 "Fix template validation issues"
# Overview
The `otomi validate-templates` reveals several issues that should be fixed

## yaml unmarshal errors

- [ ] charts/nginx-ingress/templates/controller-servicemonitor.yaml
Double release label - Kubernetes pickup ignore one and does not complain
[code]

- [x] charts/team-ns/templates/istio-virtualservices.yaml
Double rewrite definition for the same route
[code]
- [x] charts/team-ns/templa

[2020-10-19 14:31] Morriz opened #169 "Update bug+issue templates with relevant questions"
We should ask things like:

Bugs:
- [x] Software Versions:
[code]
- [x] PRs: done, see template
- [ ] ??

[2020-10-20 19:16] Morriz opened #171 "loki sometimes does not show logs"
**Describe the bug** A clear and concise description of what the bug is.

Loki sometimes does not show logs, while kubectl shows them fine.

**To Reproduce** Steps to reproduce the behavior.

I needed to see harbor logs but could not see anything in loki with these labels:
[code]
(Even though they were suggested!)
But this worked:
[code]

**Expected behavior** A clear and concise description of wh

[2020-10-20 21:06] #57 closed, assigned to nobody

[2020-10-21 10:03] #122 closed, assigned to rawc0der

[2020-10-21 15:41] Morriz opened #172 "strict mTLS in istio"
We have autoTLS by default from the istio-operator, which upgrades to mtls where possible. This seems to work well, as you can see by looking at the mesh in kiali.

However, we should move towards istio enforcing strict mtls (at least for team services) with possible exceptions for some of our core tooling, but only as ultimate exception.

For that we might need named service ports OR `appProtocol

[2020-10-21 15:44] #100 closed, assigned to j-zimnowoda

[2020-10-21 16:06] Morriz opened #173 "make all demo values valid"
# User story
Now that we have encryption disabled by default we should be providing only valid values in `.demo/*` files.

All secret values are now the same "secretvalue". I believe this is to function as a marker, so please search for that word and see how it is used and if we can overcome the problem if we abandon that marker mechanism.

# Tasks

core:
- [ ] Execute Otomi bootstrap with demo va

[2020-10-21 16:11] Morriz opened #174 "otomi validate-values does not show all errors"
**Describe the bug** A clear and concise description of what the bug is.
During the demo we saw not all errors reported.

**To Reproduce** Steps to reproduce the behavior.
1. Change two values to become invalid
2. run `otomi validate-values`

**Expected behavior** A clear and concise description of what you expected to happen.
All errors listed in report.

[2020-10-22 08:26] Morriz opened #175 "make otomi-web use public image"
tasks:

- [x] github workflow and web chart: make console image public (otomi/console)

[2020-10-22 14:42] Morriz opened #176 "Implement harbor oidc admin awareness"
Coming in the harbor 2.2.0 release: option to configure oidc group that will become superadmin. Please also rewrite harbor task to configure that.

[2020-10-22 20:19] #168 closed, assigned to Morriz, rawc0der, martijncalker, j-zimnowoda

[2020-10-23 12:07] Morriz opened #178 "update docs with caveats"
fix issues not mentioned in docs, or poorly referenced:

- [x] gcloud token refresh during long running kubectl/helm/helmfile command

[2020-10-25 13:14] #175 closed, assigned to Morriz

[2020-10-25 18:49] Morriz opened #179 "remove redkubesSlackUrl from core"
it is kinda private, but not really, it just shouldn't be in the source...don't bother to remove from history though ;)

[2020-10-26 09:17] #174 closed, assigned to j-zimnowoda

[2020-10-26 11:40] Morriz opened #181 "otomi cli improvements"
Improvements:
- We can get rid of the active env vars CLUSTER & CLOUD by getting them from kubeconf current context:
  - see if it matches regex `$customer-$cloud-$cluster`, then extract

Implications:
- `otomi template` and `otomi values` might not have a cluster yet, so they still should bork and ask to provide CLOUD & CLUSTER

[2020-10-27 09:23] j-zimnowoda opened #185 "Unable to login to harbor dashboard"
**Describe the bug**
Unable to login to harbor dashboard after Keycloak redeployment (most probably)

**To Reproduce**
Steps to reproduce:
1. Open harbor dashboard in web browser: https://harbor.demo.eks.otomi.cloud/
2. You are redirected to login with IDP
3. Login as otomi.admin@redkubes.net
4. Redirected to harbor login dashboard
5. Click: `LOGIN VIA OIDC PROVIDER`
6. Logout from harbor and logo

[2020-10-27 09:35] j-zimnowoda opened #184 "Unable to login to harbor repository"
**Describe the bug**
Unable to push image to harbor

**To Reproduce**
Steps to reproduce the behavior:
1. Trying to login as super admin user
[code]
OR
2. Trying to login as OIDC user
[code]
**Expected behaviour**
Able to login in to harbor repo and push image

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2020-10-27 16:09] #32 closed, assigned to Morriz, martijncalker

[2020-10-27 18:05] #76 closed, assigned to Morriz, j-zimnowoda

[2020-10-27 18:55] #178 closed, assigned to nobody

[2020-10-28 12:57] rawc0der opened #192 "Disclosure of Supply Chain Vulnerability"
Vulnerability type:   Leaked access token
Domain:   Github Source Code and NPM Packages
How:   Leaked sensitive github code in docker stage build logs

## Description
The workflow files for GitHub Actions are currently poorly designed, using sensitive data passed through environment variables which leaks in the build logs.
Otomi DockerHub repository has several public images using multiple build s

[2020-10-28 13:07] j-zimnowoda commented on #168
@Morriz why there are no linked PRs here ?

[2020-10-28 14:14] j-zimnowoda commented on #168
I discovered that there is sometimes there are defined
additionalLabels and commonLabels
If both define the same key then we get yq error

[2020-10-29 08:37] j-zimnowoda commented on #176
#109 looks like duplicate

[2020-10-29 10:31] Morriz commented on #176
@j-zimnowoda can you move it to tasks repo rhen and update info?

[2020-11-01 10:44] Morriz commented on #179
Fixed

[2020-11-01 10:44] #179 closed

[2020-11-02 14:51] j-zimnowoda opened #194 "Deploy cluster from scratch with disabled encryption"
The goal of this task is to evaluate disabled encryption feature.

[2020-11-02 15:42] Morriz commented on #194
We need proper docs explaining all prereqs like dns access as well. On it!

[2020-11-03 14:54] j-zimnowoda commented on #194
Indeed. I am writing down some notes about it.

[2020-11-03 14:56] j-zimnowoda commented on #194
Few bullets:
A domain name under which otomi container platform will be exposed.
- dns domain managed by azure/aws/google
- service account to manage DNS records
Value settings:
- external-dns.yaml (DNS zone and domain)
- cert-manager.yaml (DNS provider)

Usability concerns:
- there is no explicit connection betwwen cloudDnsKey (secret.settings.yaml) and serviceAccountSecretRef (cert-manager.yaml)

[2020-11-03 16:01] j-zimnowoda opened #197 "Upgrade eksctl in otomi-tools"
The eksctl 0.24.0 does not support creation of 1.18 Kubernetes cluster.

[2020-11-03 16:47] rawc0der commented on #192
Fixed and closed.

[2020-11-03 16:47] #192 closed

[2020-11-03 17:46] Morriz commented on #197
Its already deploying 1.18 clusters tho. Check the values

[2020-11-03 17:46] #197 closed

[2020-11-04 08:49] rawc0der commented on #19
We should start refactoring all the policies to a common `.rego` language syntax, since the Konstraint library is going to support `input.parameters` as part of the `core` definitions.

PR that started all the mess here - https://github.com/plexsystems/konstraint/pull/80
Nice to see the community reacting so quickly

[2020-11-04 08:57] j-zimnowoda commented on #19
Indeed that is really encouraging

[2020-11-04 12:12] Morriz commented on #19
Awesome!

[2020-11-05 12:48] Morriz commented on #194
I believe the same dns service account is usable by cert-manager, so in essence only that is required for the platform to work without external loadbalancer, the OOTB setup (Out Of The Box)

Will add docs now to address that

[2020-11-05 12:49] Morriz commented on #194
closing this task as discussions here should revolve around code

[2020-11-05 12:49] #194 closed

[2020-11-05 12:51] Morriz commented on #194
@j-zimnowoda I would really not like to repeat that we should NOT use github issues for these discussions. We have github templates for issues: bug, feature, story, task (all related to coding)...so please only create those type of issues here, and move discussions to their respective platform (we use slack for that)

[2020-11-05 12:52] Morriz commented on #194
we should ask to use slack for free now that we are open source!

[2020-11-05 12:53] j-zimnowoda commented on #194
So what is the purpose of comment here?

[2020-11-05 13:16] j-zimnowoda commented on #197
Are you sure. I was able to deploy it but only after upgrading my eksctl.
I see it was upgraded in tools/Dockerfile but apparently this image has never been released.

I am trying to build it now but I am getting errors:
[code]
Please be aware that I do not build from cache.

[2020-11-05 13:40] Morriz commented on #197
I see it was released manually (it was already in 1.4.7 but latest is 1.4.8), which is what we should prevent from now on. We should create a separate pipeline/workflow for this that just listens to changes to the `tools/Dockerfile`, and we could split the cloud tools into `tools/Dockerfile_cloud` at the same time

[2020-11-09 09:27] j-zimnowoda opened #201 "Missing resources from helmfile.tpl/helmfile-init.yaml"
Currently templates from `helmfile.d` are rendered and validated by the following commands `otomi template`, `otomi validate-templates`

The `helmfile.tpl/helmfile-init.yaml` is not taken into account but is used by `otomi deploy` command.

The `otomi template` and `otomi validate-templates` should take into account the additional `helmfile.tpl/helmfile-init.yaml` file in order to  ensure quality

[2020-11-09 14:40] #48 closed

[2020-11-12 14:12] j-zimnowoda commented on #201
The solution has been already provided.
The `otomi validate-templates` takes  helmfile.tpl/helmfile-init.yaml into account

[2020-11-12 15:15] Morriz commented on #201
So can this be closed then @j-zimnowoda ?

[2020-11-12 15:18] j-zimnowoda commented on #201
Yes

[2020-11-12 15:20] Morriz commented on #169
closing as this is added via edits

[2020-11-12 15:20] #169 closed

[2020-11-12 15:25] #22 closed

[2020-11-12 15:31] #201 closed

[2020-11-16 14:44] j-zimnowoda commented on #173
Good point, some charts has some constraints for value length. e.g.: recently I had to change oauth2-proxy cookieSecret

[2020-11-16 14:55] Morriz opened #203 "simple test to check bootstrap oneliner"
**Is your feature request related to a problem? Please describe.**

When people use the bootstrap one-liner mentioned on [this page](https://redkubes.github.io/otomi/docs/setup), we want to make sure that it works correctly.

**Describe the solution you'd like**

The script has a unit test that checks if the env folder is created. The flag skip_demo_files will be removed. Furthermore, the reposito

[2020-11-16 15:11] Morriz opened #204 "K8s Jobs for teams"
Link to discussion: https://github.com/redkubes/otomi-core/discussions/295

# Tasks

## Core

### Meta-schema proof of concept

- [x] Add proof of concept functionality to `values-schema.yaml` for Kubernetes Jobs.
- [x] Add proof of concept `jobs.demo.yaml`.
- [x] Modified requirements based on initial review.

### Previous configuration refactoring

- [x] Delete previous configuration that allows

[2020-11-17 17:56] Morriz commented on #173
which was problematic, as you did not test the results of that, as the next deploy broke because of a faulty regex ;p

[2020-11-18 10:57] j-zimnowoda opened #207 "As a user I want obtain access to a kubernetes cluster by authenticating with custom IdP (draft)"
# User story
As a user I want obtain access to a kubernetes cluster by authenticating with custom IdP, so I can reuse identities and associated policies defined by my organisation.

We want to provide seamless and consistent user experience to all teams that are onboarded in otomi container platform.
The user authentication for all otomi core services is already implemented. It is time to implemen

[2020-11-18 11:20] svatwork commented on #203
**Is your feature request related to a problem? Please describe.**

When people use the bootstrap one-liner mentioned on [this page](https://redkubes.github.io/otomi/docs/setup), we want to make sure that it works correctly.

**Describe the solution you'd like**

The script has a unit test that checks if the env folder is created. The flag skip_demo_files will be removed. Furthermore, the reposito

[2020-11-18 11:40] svatwork opened #208 "After initialising a values repo, I can't start Otomi Console"
**Describe the bug:**
In otomi-values/bin/otomi the script refers to otomi-values/bin/console.sh as if it's in otomi-values after executing the one-liner found on [this page](https://redkubes.github.io/otomi/docs/setup). It doesn't exist, and therefore throws an error.

**To Reproduce**
Steps to reproduce the behavior:
1.

[code]

2.

[code]

**Expected behavior:**
[code]

[2020-11-18 11:59] Morriz commented on #208
Did you follow the readme and obtain a pullsecret and then run the bootstrap again?

[2020-11-18 18:58] Morriz commented on #208
solved with the release of v0.11.40

[2020-11-18 18:58] #208 closed

[2020-11-18 18:58] Morriz commented on #208
OTOMI_PULLSECRET is not needed anymore in env, it is only expected in 'secrets.settings.yaml`

[2020-11-23 11:29] rawc0der opened #210 "Improve Authentication Flow for User Registration"
# User story
As a user, I want to be able to login to Keycloak after IDP settings reconfiguration.
The problem we have now is that Keycloak is restarting the registration process after IDP settings updates.
The current configuration for the User Registration process does not allow re-submitting registration or updating existing user entry using the Browser flow.

# Tasks

core:
- [ ] Investigate a

[2020-11-23 14:16] Morriz opened #212 "check up on isMultitenant"
We have the `isMultitenant` flag implemented long time ago, and should check if it still follows expected requirements:

scenario `isMultitenant=false`:
- should deploy only one prometheus-operator chart
- should not split logs in loki
- is all telemetry sent to that one prometheus endpoint?
- should hide any team apps in console
- are resources still segmented into their team-* namespaces?
- is a

[2020-11-23 15:42] svatwork commented on #203
- [ ] Multi-staged build in the Dockerfile, making it portable.
- [ ] bin/tests/*.sh called by [bats](https://github.com/bats-core/bats-core).

[2020-11-25 09:46] svatwork opened #214 "Run Github Actions locally with https://github.com/nektos/act"
**Is your feature request related to a problem? Please describe.**

It would be quite convenient to be able to run the Github Actions locally. This will improve iteration speed. Right now, to test what I've committed, I have to wait for the Github Action to end. It can take quite a while. Moreover, to test my build, I have to commit first, which creates a lot of unnecessary commits where if the bu

[2020-11-25 09:47] j-zimnowoda opened #215 "[design] - As a user I want to access kubernetes cluster by authenticating with custom IdP"
# User story

As a user I want to access to kubernetes cluster by authenticating with custom IdP, so I can reuse identities and associated policies defined by my organization.

The otomi containers platform promises to be a cloud native solution. Followwing that concept a customer can use its own IdP from a different vendor than the managed cluster where otomi is running. Unfortunately some cloud

[2020-11-25 15:12] Morriz commented on #214
Yeah, I know the frustration, but most issues are with configuration out of our control (credentials, permissions), so this solution does not help with that. Since we try to keep pipelines small and dumb, I would focus on keeping it that way, and maybe even make them more DRY.

[2020-11-25 15:18] Morriz commented on #214
I believe for every repo  we would like to see one simple pipeline pushing buttons on the repo:

1. checkout
2. build-test-push-cache (all in dockerfile)
3. retag-and-publish
4. release

And since we already have that structure, all I can see as improvement is taking code out of the steps and putting them in scripts in the repo. But this has no prority right now.

[2020-11-25 15:19] Morriz commented on #214
Closing this as I see no value now or in the future.

[2020-11-25 15:19] #214 closed

[2020-11-26 08:40] j-zimnowoda commented on #207
On Wednesday I moved forward with running PoC
- configured keycloak claims and extended JWT TTL
- created few issues in their project
https://github.com/banzaicloud/jwt-to-rbac/issues/42,
https://github.com/banzaicloud/jwt-to-rbac/issues/41
https://github.com/banzaicloud/jwt-to-rbac/issues/39
- create one PR to jwt-to-rbac
https://github.com/banzaicloud/jwt-to-rbac/pull/40
The community responded

[2020-11-26 13:29] svatwork commented on #203
I will write documentation once the pull requests have been approved.

[2020-11-26 13:40] svatwork commented on #176
I can't find it, what's the source for this? I looked at https://github.com/goharbor/harbor/issues?page=2&q=is%3Aissue+is%3Aopen+label%3Atarget%2F2.2.0.

[2020-11-27 09:25] svatwork opened #218 "kubectl get po error: error loading config file "/Users/$user/.kube/config": read /Users/$user/.kube/config: is a directory"
**Describe the bug:** (a clear and concise description of what the bug is)

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -e ENV_DIR=$PWD -v $PWD:$PWD otomi/core:latest bin/bootstrap.sh`
2.` kubectl get po`
3. `kubectl get po error: error loading config file "/Users/sebastiaanverbeek/.kube/config": read /Users/sebastiaanverbeek/.kube/config: is a directory`

**Expected behavior:

[2020-11-27 09:28] svatwork opened #219 "https://github.com/redkubes/docs/blob/master/otomi-core.md 404"
**Describe the bug:** (a clear and concise description of what the bug is)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/redkubes/docs
2. Click on Otomi Stack (at the bottom)
3. It will browse to https://github.com/redkubes/docs/blob/master/otomi-core.md
4. The page doesn't exist (404).

**Expected behavior:**
Page with documentation about the Otomi Stack will open

[2020-11-27 09:29] #219 closed

[2020-11-30 10:21] svatwork opened #220 "otomi-values: errors out of the box"
**Describe the bug:** (a clear and concise description of what the bug is)

After setting otomi-values/env/clusters.yaml and otomi-values/env/clouds/aws/dev/* and would like to validate my templates and values, I receive a couple of errors.

**To Reproduce**
Steps to reproduce the behavior:
1.

[code]

2. Set otomi-values/env/clusters.yaml (CLOUD=aws && CLUSTER=dev) and otomi-values/env/clouds/aws

[2020-11-30 12:33] Morriz commented on #176
True. Closing in favor of the previous one. It has the link to the issue and announcement to publish the feature in 2.2.0

[2020-11-30 12:33] #176 closed

[2020-11-30 12:36] Morriz commented on #218
Can this be fixed by setting the paths correctly? (Mapping the folder instead of the file in it.) If so then please go ahead

[2020-11-30 12:43] Morriz commented on #220
Problem is not present in latest master. Closing

[2020-11-30 12:50] svatwork commented on #220
I pulled the latest image and receive the following problems, I think it's less than before:

![Screenshot 2020-11-30 at 13 48 07](https://user-images.githubusercontent.com/20700197/100612242-f5ba7e80-3312-11eb-9353-e683c99e1843.png)

Any ideas?

[2020-11-30 13:27] rawc0der commented on #220
I also confirm there are some faulty values, for example on AZURE-DEV environment I see templating is broken. Almost like the secret values are not decrypted and merged in the final output.
I don't understand if helm-secrets is called on time, here I see the rendering error before helm-secrets logs.

[code]

[2020-11-30 14:00] Morriz commented on #220
This issue is about installing demo values, so please report bugs separately if they are unrelated.

[2020-11-30 14:01] Morriz commented on #220
I can't reproduce this with `otomi/core:latest`, so please state the steps if they are different from the ones above. Otherwise I have to close it

[2020-11-30 14:02] Morriz commented on #220
I hope you do understand that the "Problems" tab reports all kinds of issues, but none of the above refer to our setup. Check the output

[2020-11-30 14:04] Morriz commented on #220
If you want to turn on extensions globally @svatwork then understand they might say all kinds of things, but they might not concern us. All of our repos contain all their needed extensions, therefor I strongly suggest to NOT turn extensions on globally.

[2020-11-30 14:21] rawc0der opened #221 "incorrect values for azure-dev environment"
**Describe the bug:**
`otomi template` not working properly due to incorrect values for Azure Dev environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Open `otomi-core` repo in a Terminal window:
2. export CLOUD=azure CLUSTER=dev
3. otomi validate-templates true
4. See errors

**Expected behavior:**
All charts should be templated correctly but the following chart values are broken: *

[2020-11-30 14:49] svatwork opened #222 "The Otomi API fails to find the otomi-values repository on Git"
**Describe the bug:** (a clear and concise description of what the bug is)

I attempt to run 'otomi console' from my otomi-values repository. It doesn't work "out of the box".

**To Reproduce**
Steps to reproduce the behavior:
1. Follow these steps:

[code]
2. See the error:

[code]

**Expected behavior:** (a clear and concise description of what you expected to happen)

Filled in all the correct

[2020-11-30 14:58] rawc0der commented on #221
@Morriz I found what is causing this issue.
The problem is from sops and this is the only file from the list which is not decrypting correctly. Still working on figuring out what is the actual problem.

[code]

[2020-11-30 15:40] rawc0der commented on #221
After retrying the `otomi decrypt` a couple of times it worked.
I traced the issue of broken values to the following file:  `VALUES-REPO/env/secrets.settings.yaml`
Here the **azure** and **google** blocks were top level properties and I guess they should have been under **clouds**.
[code]
After fixing this, templates are rendering. @Morriz Should I push the fix to values repo?

[2020-11-30 15:48] rawc0der commented on #221
Actually for the whole repository to work again a fix to `values/cert-manager-raw.gotmpl` is needed to access values from the same structure.

line 22: `      key.json: "{{ $v | getOrNil "clouds.google.cloudDnsKey" | b64enc }}"  `

[2020-11-30 16:04] rawc0der commented on #221
Sorry, the values repo is ok, problem is comming from sops not decrypting that file and this gives templating errors hard to debug.
Closing this issue as file decryption is working after couple of retries.

[2020-11-30 16:04] #221 closed

[2020-11-30 17:32] Morriz commented on #221
Yes, those props are now top level. That is by design. So no change needed.

I recommend to regularly do a `docker pull otomi/core:master` and `docker pull otomi/core:latest`. After that do `otomi bootstrap` to get the latest `values-schema.yaml`.

[2020-12-01 10:33] svatwork commented on #220
Well I'm assuming it does, because it's part of the recommendations in otomi-core:

[code]

Anyway, it was complaining about a lot of things in otomi-values but I haven't seen any in otomi-core so YMMV. Furthermore,
[code]

settings.json is complaining about it's own schema in my otomi-values repository.

Yes, so you suggest disabling code-spell-checker. Just to be sure: for otomi-core it's a vali

[2020-12-01 12:47] svatwork opened #224 "getting credentials: exec: executable aws not found"
**Describe the bug:** (a clear and concise description of what the bug is)

My hypothesis is that including MFA in the awscli will require a new executable in the tools and core image.

**To Reproduce**
Steps to reproduce the behavior:
1.
kubeconfig

[code]

2.

[code]

**Expected behavior:** (a clear and concise description of what you expected to happen)

Exit code 0 and showed me the helmfile d

[2020-12-01 13:41] svatwork opened #226 "$ otomi image v0.x.y"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
is. Ex. I'm always frustrated when [...]

I would like to specify the image when I run an otomi command. It's not that I would like to run previous versions all the time, but it's nice that I could use my own docker image when I'm working in a feature branch.

**Describe the solut

[2020-12-02 00:06] Morriz commented on #222
Closed as this is due to a lack of documentation (or it wasnt read properly). The repo should be configured and pushed to remote before starting the console.  Updated just now in c3c77ad..39d26fe

[2020-12-02 10:31] Morriz commented on #220
Indeed. You seemingly have these issue in `otomi-values` repo though, and the plugin should not be active there.
In otomi-core you can do `npm run spellcheck` and see no errors.

report a bug with the yaml validation authors? I belive it's the redhad yaml plugin.

Globally, yes. The settings in the repos activate them just for the repo.

[2020-12-02 10:31] #220 closed

[2020-12-02 16:02] Morriz commented on #226
When working on a feature branch you will automatically see a container tag pushed from that feature branch name. You can set it in the values repo and it will be picked up.

We all use that functionality for a long time and it suits our needs. Closing this issue.

[2020-12-02 16:02] #226 closed

[2020-12-02 16:04] Morriz commented on #226
Plus, when working on otomi-core directly, the working dir is mounted and your code changes will be deployed as is.

[2020-12-02 16:15] Morriz commented on #224
Closing this in favor of adding documentation for developers to refresh credentials before deploying.

[2020-12-02 16:15] Morriz commented on #218
@svatwork ?

[2020-12-02 16:22] Morriz commented on #185
Me and @j-zimnowoda just talked through possible solutions and we came up with these scenarios:

1. keycloak can be manipulated to use the IDPs sub as-is (requires work from keycloak, but it might not be possible because of referential integrity on the sub which is used as id consistently)
2. harbor can be manipulated to work with another claim than 'sub' and we map IDP sub to another claim in key

[2020-12-02 17:18] Morriz commented on #185
I have asked for this feature with harbor: https://github.com/goharbor/harbor/issues/13674

[2020-12-02 17:33] Morriz commented on #215
So can #207 be closed in favor of this?

[2020-12-03 10:07] svatwork commented on #218
I can't reproduce it, let's close it for now.

[2020-12-03 10:07] #218 closed

[2020-12-03 11:33] svatwork commented on #222
Just found out that `rm /tmp/otomi-env` removes the variables (confirmed by @Morriz). Will create a pull request.

[2020-12-04 10:40] svatwork commented on #224
Agreed with @Morriz on:
- [ ] Add aws binary to otomi/tools
- [ ] Bump otomi/tools to 1.4.10 (#203)

[2020-12-07 14:26] svatwork commented on #224
- [ ] Bump kubectl

[2020-12-07 15:23] #224 closed

[2020-12-07 15:52] #203 closed

[2020-12-08 13:05] svatwork opened #228 "otomi decrypt hits wrong execution path"
**Describe the bug:** (a clear and concise description of what the bug is)

I tried to execute `otomi decrypt`. It would exit 0, but didn't give me any *.dec files (everything in my otomi-values repository was still encrypted). I tested the execution path and it didn't execute `drun bin/crypt.sh decrypt` without manually removing the conditional.

**To Reproduce**
Steps to reproduce the behavior:

[2020-12-09 09:47] j-zimnowoda opened #231 "As a developer, I would like to verify if chart values are rendered as expected"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
The final chart values are result of complex merging, templating and logic operations (performed at values/<chart>/*.gotmpl files)
As a developer, I would like to verify if chart values are rendered as expected.

**Describe the solution you'd like** A clear and concise description

[2020-12-09 10:57] Morriz commented on #164
Nice one for you @svatwork ;)

[2020-12-09 13:17] svatwork commented on #164
Yes, sounds like a proper challenge after team jobs

[2020-12-11 13:03] svatwork opened #241 "Change values-schema.yaml to values-schema.json"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
is. Ex. I'm always frustrated when [...]

I have much more success with validating JSON files against YAML files instead of using https://github.com/redhat-developer/yaml-language-server. There are a couple of reasons for this. I just want to have a discussion about it and if it's

[2020-12-11 14:14] svatwork opened #243 "Values-schema.yaml requires 'required' keys in the root of the schema"
**Describe the bug:** (a clear and concise description of what the bug is)

Explaining the title, this will always throw an error if a `.yaml` file in the `env/*` directory doesn't include all keys.

**To Reproduce**
Steps to reproduce the behavior:
1. settings.json:

[code]

2. Create a new file in `.demo/env/*`, like `.demo/env/test.yaml`
3. Click ctrl+space to start auto complete or type one of

[2020-12-11 14:40] svatwork commented on #243
@Morriz told me it's intended behaviour, required is removed after `otomi bootstrap`. Still, this condition doesn't work:

[code]

[code]

[2020-12-11 15:38] svatwork commented on #243
After digging for a bit, it turns out the environment variables aren't available in drun by default. I'll create a pull request since it's just a small change.

[2020-12-11 16:22] #243 closed

[2020-12-14 10:32] Morriz commented on #228
We found that $@ is a special var that won't let itself be tested with `-n`, so we will rewrite to string test:
`[[ "$@" != '' ]] && ...`

[2020-12-14 10:38] Morriz commented on #231
Seems to me that you are asking to modify helmfile, so please take it there?

[2020-12-14 10:38] #231 closed

[2020-12-14 10:40] j-zimnowoda commented on #231
Noooooo, there is already ` write-values` command in helmfile.

[2020-12-14 21:25] Morriz opened #250 "Upgrade tools to use new helmfile"
When this one is released: https://github.com/roboll/helmfile/pull/1618

we should upgrade tools to use that helmfile and add:

`disableValidationOnInstall: true`

to our helmfile defaults so that it is able to install crds and the chart in one go upon first install.

[2020-12-14 21:54] Morriz opened #251 "rewrite CONTRIBUTING.md to include what we have now"
The contents of that file do not reflect what we have now, nor is it well written (half assed).

We should rewrite this to put more focus on what we want newcomers to know.

[2020-12-14 21:57] Morriz opened #252 "rewrite CONTRIBUTING.md to include what we have now"
The contents of that file do not reflect what we have now, nor is it well written (half assed).

We should rewrite this to put more focus on what we want newcomers to know.

[2020-12-14 22:02] Morriz commented on #241
I say lets wait for the outcome of the bug report you filed with redhat @svatwork. Can you post the link to that here?

[2020-12-15 09:21] svatwork commented on #241
I can't reproduce the error right now, the current configuration seems to have solved it. You also walked me through the transformations of `values-schema.yaml` so I feel less lost now.

[2020-12-15 09:21] #241 closed

[2020-12-15 14:45] Morriz commented on #241
But I was hoping that yaml would become at part with json functionality. Does the yaml variant now not fail to show usage for the json schema basic properties? You gave me a demo of that. Is that solved now then?

[2020-12-15 16:37] svatwork commented on #241
Let me gather some evidence first, I'm keeping it in mind. There are still enough open [issues](https://github.com/redhat-developer/yaml-language-server/labels/bug). I wouldn't say that YAML is at part with JSON functionality, but I can work with it. I have usage for the JSON schema basic properties now, but not including all features in the JSON variant.

It's just small stuff like that, I feel a

[2020-12-15 18:40] Morriz commented on #241
I am more interested in making the yaml validation more robust, that is why I keep hammering on fixing upstream. So where is the link to that issue with redhat?

[2020-12-16 06:41] svatwork commented on #241
I haven't created it, let me gather some evidence and then I'll open one and post it here.

[2020-12-16 08:22] j-zimnowoda opened #254 "Unable to authenticate with keycloak oidc"
**Describe the bug:** (a clear and concise description of what the bug is)
I cannot authenticate with keycloak
**To Reproduce**
Steps to reproduce the behavior:
1. Go to otomi login page and login with oidc
2. Input credentials and follow login instructions
3. Observe error page "We are sorry... An internal server error has occurred"

4. See error

**Expected behavior:** (a clear and concise descr

[2020-12-16 08:23] j-zimnowoda commented on #254
This issue may be related with: https://github.com/redkubes/otomi-core/issues/210

[2020-12-16 08:38] j-zimnowoda opened #255 "Unable to answer question from otomi cli"
**Describe the bug:** (a clear and concise description of what the bug is)
While performing command in otomi cli, the otomi makes sure that actions are performed on the right cluster and asks a user to confirm switching to the right kubernetes context. Unfortunately it does not parse user answers correctly.

**To Reproduce** Steps to reproduce the behavior:
1. Perform the following shell commands"

[2020-12-16 08:50] Morriz commented on #255
You report in observation step 3 that it exits with non zero exit code after giving false input, which is correct. Can you please rephrase what is going on? As I see this now this is intented behaviour and I will have to close this if you can't provide clearly what the problem is.

[2020-12-16 09:40] j-zimnowoda opened #256 "The git diff return error while using in values repo"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
I'm always frustrated when I get an error using `git diff` in values repo.
[code]
Ability to inspect the changes critical for reviewing changes before committing them.

Running `otomi bootstrap` also does not solve the issue.

**Describe the solution you'd like** A clear and conci

[2020-12-16 12:08] Morriz commented on #254
Can you confirm this is related to #210 @rawc0der ?

[2020-12-16 12:11] j-zimnowoda commented on #255
@Morriz, Apparently, it is not clear what is the right input.
Is `Y` an incorrect input, if so then there should be an error printed.

[2020-12-22 07:45] #228 closed

[2020-12-22 07:45] #222 closed

[2020-12-22 11:35] svatwork commented on #204
I'm awaiting responses to the discussions in #239 and the review of #258 @Morriz @j-zimnowoda.

[2020-12-22 12:53] 0-sv opened #259 "Create values-schema mechanism to update values to conform to schema changes"
# User story

As a developer making breaking changes to the values-schema, I want to have a mechanism that will copy the corresponding values to their new locations.

## Problem

We break the schema when:

1. We move properties around (more frequent)
2. We delete props (more frequent)
3. We mutate (change property type or value shape, less frequent)

`otomi-core` should have a mechanism that migra

[2020-12-22 13:06] svatwork commented on #259
Copied from `unassigned issues` to link it with pull request for changes in `otomi-core`.

[2020-12-22 16:10] Morriz opened #261 "performance issues yq"
The 5 bats tests are not performing well. They should run under 5 seconds imo. Can this be optimized?

[2020-12-23 07:26] svatwork commented on #261
Yes, I agree. It can be optimized, I wasn't sure if it was inside the scope in #203.

I have some ideas:
- Test everything from `bootstrap.sh` in one function, but this reduces test coverage.
- The true bottleneck is in what is being tested in `bootstrap.sh`. Currently, it's just one big script. We could write functions for the logic being tested and test those functions separately.
- The Github A

[2020-12-23 16:07] Morriz commented on #261
Nah, you are overthinking it as the script only copies some files. Please understand that symlinking is for devs only, so no solution here. We need to time the operations. Is the file mount on the container inducing so much latency when it comes to copying? Instrument the code to show times with `-x` or something

[2020-12-23 17:34] Morriz commented on #255
It is standard behaviour to offer the default value in capital, closing

[2020-12-23 17:34] #255 closed

[2020-12-23 18:22] Morriz commented on #254
@rawc0der ??

[2020-12-24 07:32] svatwork commented on #255
I think @j-zimnowoda also was confused about the formatting here, it can be improved. Ie.:

`YnY` to `[Yn] Y]` where `Y` is what the user put in. At the moment there is no spacing between Yn and Y.

[2020-12-24 10:55] svatwork commented on #259
Let's just refer to SemVer 2.0.0 then for clarity? https://semver.org

[2020-12-24 10:59] Morriz commented on #255
Look, just do what others do, and add the brackets then:

[Yn]

[2020-12-29 11:34] rawc0der commented on #254
Yes,
This is related to #210 and I am trying to figure a different solution out in my local cluster.

The User Registration process is working first time only and does not allow re-registration of existing users. This happens when IDP entry is "replaced" and corrupts internal objects state.

A temp fix is to delete PVC for `keycloak-postgress` pod and sync the `keycloak` and `keycloak-jobs` releas

[2020-12-29 11:44] Morriz commented on #184
closing as I believe this was a no-op

[2020-12-29 11:44] #184 closed

[2020-12-29 12:24] Morriz commented on #256
Is this a bug report? Then please use the bug report template...

[2020-12-29 12:24] #256 closed

[2020-12-29 12:26] Morriz commented on #173
@svatwork can you report the status of this issue? I would like to close it as its intent was to deliver demo values that don't need rework

[2020-12-29 12:35] svatwork commented on #173
This is still open, it's on my to do list after #259 and #164.

[2020-12-30 12:35] Morriz commented on #256
FYI: git diff work fine when you `export GOOGLE_APPLICATION_CREDENTIALS=$PWD/gcp-key.json`:

[code]

[2021-01-01 12:42] mumoshu commented on #250
@Morriz FYI, v0.136.0 has been released for https://github.com/roboll/helmfile/pull/1618 😃

[2021-01-01 18:25] Morriz commented on #250
Awesome. Thanks for reporting back. You are always so helpful!

[2021-01-02 19:06] #85 closed

[2021-01-03 03:45] #35 closed

[2021-01-03 12:33] #36 closed

[2021-01-04 11:20] j-zimnowoda opened #263 "Abstracting secret management from values repo PoC"
**Is your feature request related to a problem? **

The current secret management implementation:
- does not support multi tenancy, so a user can either decrypt all secrets or non of them.
- enforces storing secrets in a separate files, what is a source of data management and data merge issues.

We need robust, multi-tenant secret management solution that integrates seamlessly with Kubernetes but

[2021-01-04 11:35] j-zimnowoda opened #264 "Test knative service connectivity"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
is. Ex. I'm always frustrated when [...]

Recent Knative upgrade caused connectivity issue between Knative services.
Debugging connectivity issues implies a lot of tedious manual steps, that an engineer needs to perform many times.

**Describe the solution you'd like**
I would lik

[2021-01-04 11:43] svatwork commented on #263
Awesome. The tradeoff between kubernetes-external-secret and bank-vault seems tricky, they both seem to be maintained equally well. I guess bank-vault offers more features and has 50 more collaborators, but then again, the other project is created for solving this problem specifically, correct?

[2021-01-04 12:00] j-zimnowoda commented on #263
Indeed, choosing the one is tricky. Intuitively, I like more bank-vaults, because of it's simplicity in terms of referencing to a secret value. But let's make our hands dirty first and then we can decide which one does better work for us.

The kubernetes-external-secrets can integrate more seamlessly but if has some disadvantages that I would like to avoid.

[2021-01-04 14:39] j-zimnowoda commented on #215
I am moving it to backlog as priorities have been changed.

[2021-01-05 08:11] svatwork commented on #164
Ok, I will become more mindful of [pull request vs issue etiquette](https://stackoverflow.com/questions/9563881/etiquette-of-github-contributing-pull-requests-vs-new-issue). Hope someone will clarify then if I post a comment here.

I was working on #262 (Kiali operator added and configured)

I have a basic configuration of Kiali Operator, but that's of course not sufficient. But I don't know what

[2021-01-05 08:37] svatwork commented on #204
Relating to task: "**Extra functionality for when the Job specification changes.**"

The core problem is that executing a standard release will always run, no matter if the spec has changed or not, if it is defined (e.g. in `jobs.demo.yaml`).

@Morriz showed me an [issue](https://github.com/roboll/helmfile/issues/49) in the helmfile repo that explains the problem. He did, however, merge a [workaro

[2021-01-05 09:33] Morriz commented on #250
@rawc0der would you be so kind and integrate this new release in our tools image? You are probably upgrading your tools soon anyway, so I am assigning it to you.

[2021-01-05 09:49] Morriz commented on #264
Is a oneliner kubectl command not enough? One would still have to configure the actor and the receiver anyway, also when automating such things. I don't believe automation is needed if there are no repetitive manual tasks involved. I think it is possible to craft a oneliner with a tools image that can immediately show the results.

This touches on knowledge to quickly know how to troubleshoot. I w

[2021-01-05 09:51] Morriz commented on #263
I prefer bank-vaults as it fits more tightly. The other one is offering an interface that is too wide. So if the POC with bank-vaults feels nice we can just continue with that imo.

[2021-01-05 10:09] Morriz commented on #164
That seems ok to me. One addition. Since we can deploy kiali via CR now, we can offer it to teams as well. Please add the CR to `charts/team-ns` and allow for teams to turn it on (default off) from the console's new app settings (coming soon).

[2021-01-05 10:23] Morriz commented on #164
Do make sure to have the CR turned on via `charts.kiali.enabled` (we might rename `charts` to `apps` later as that is more fitting) for team-admin in `helmfile.d/helmfile-15.ingress-core.yaml` by adding a value

I suggest the following renaming steps:

- `helmfile-15.ingress-core.yaml` > `helmfile-15.team-ns-admin.yaml`
- `helmfile-30.admin.yaml` > `helmfile-30.admin-apps.yaml`

[2021-01-05 10:50] Morriz commented on #204
That is not a workaround unfortunately, just a manual sync invocation to deploy a job.

Indeed. Like I mentioned before in a previous review: we use `apply` and not `sync` in our pipeline, so by default this will result in a sync only if there is a diff. In order to guarantee `deployment: always` we need to add a script that iterates over the job releases and forces a `sync` on them. In order to d

[2021-01-06 09:31] j-zimnowoda commented on #263
Yes, I am going to start with bank-vaults

[2021-01-06 10:21] Dunky13 opened #265 "yq error message when not installed locally"
**Describe the bug:**
yq@3 needs to be installed on the local machine. Since yq@4 is released, just installing yq will cause problems due to breaking changes from yq@3 to yq@4.

**To Reproduce**
Steps to reproduce the behavior:

1. Have no `yq` installed
    - ` . bin/aliases`
    - `oaz login`
    - Observe error message `yq: command not found`
2. Have `yq@4` installed
    - ` . bin/aliases`

[2021-01-06 13:58] Morriz commented on #265
closing as this is packaged in container and we decided to run all calls with deps in container.

[2021-01-06 13:58] #265 closed

[2021-01-06 14:08] Dunky13 commented on #265
@Morriz  that means that all common.sh yq calls need to be rewritten to be ran in a docker container. Even for initialisation of otomi bridge on the local machine. Is that correct? If that's the case, it would make the codebase unnecessarily clunkier?

[2021-01-06 16:29] Dunky13 opened #268 "Run yq in container to prevent local errors due to versions"
**Describe the bug:**
When yq is not installed, or version 4+ is installed the yq commands in `bin/common.sh` fail due to local execution. Moving the yq execution into a container image would resolve this issue

**To Reproduce**
1. Have no `yq` installed
    - ` . bin/aliases`
    - `oaz login`
    - Observe error message `yq: command not found`
2. Have `yq@4` installed
    - ` . bin/aliases`

[2021-01-06 16:38] Dunky13 commented on #268
Solution suggested in https://github.com/redkubes/otomi-core/tree/yq-error-message

[2021-01-07 11:52] Dunky13 opened #270 "Print error echos into SDTERR"
**Describe the bug:**
Currently error messages are printed to STDOUT, they should be printed to SDTERR

**To Reproduce**
In `bin/common.sh` function `check_sops_file` echo error is not printed to STDERR
Other locations as well.

**Expected behavior:**
Print error message to SDTERR

[2021-01-08 09:33] #268 closed

[2021-01-08 10:45] Dunky13 opened #272 "Move yq ppa installation to docker copy"
To become less reliant on 3rd party developer to maintain een ppa library from which `yq` is installed, a `COPY --from:...` should works as well.

Because less dependencies are needed, the build image is also slightly smaller

[2021-01-08 11:05] Dunky13 opened #274 "Create autocomplete for otomi"
**Is your feature request related to a problem? Please describe.**
There is no autocomplete for otomi.
You can't do `otomi <TAB><TAB>` or `otomi apply <TAB><TAB>`

**Describe the solution you'd like**
Otocomplete to allow for autocompletion & suggestion

[2021-01-11 11:02] Morriz opened #275 "generate service account for workloads"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem

We now use SA "default" which gives access (albeit limited, see `values/k8s/k8s-raw.gotmpl`) to all resources in the team namespace.

**Describe the solution you'd like** A clear and concise description of what you want to happen.

We should generate service accounts with RBAC to

[2021-01-13 10:02] Morriz commented on #173
@svatwork If you park work that has deps, please give it label "on hold" and add those deps. Can you do that for this item as well?

[2021-01-13 17:08] #272 closed

[2021-01-13 17:34] Morriz commented on #261
I think we have to look into decryption. Is that happening every call?

[2021-01-13 17:39] Morriz commented on #207
@j-zimnowoda very nice. Can you pull in the references to our private docs repo? Otherwise people can't access them. Maybe also add this as a "discussion".  We can use that space to iterate on design/architecture, so that we also keep a trail of our reasoning (issues are gone when closed).

[2021-01-14 07:46] svatwork commented on #261
The latency in `bin/bootstrap.sh` occurs over here:

[code]
I added that line with 'LATENCY' of course. I don't know what to make of it though.

[2021-01-14 07:48] svatwork commented on #261
Reproduce it by:

[code]

[2021-01-14 11:59] j-zimnowoda commented on #207
sure, good point about references. thanks

[2021-01-14 12:23] j-zimnowoda commented on #215
duplicate

[2021-01-14 12:23] #215 closed

[2021-01-14 12:28] j-zimnowoda commented on #254
I think have already solved that issue yesterday and implementation
has been done as well.
@Morriz @rawc0der can I close this issue ?

[2021-01-14 12:42] j-zimnowoda commented on #185
@Morriz I am wondering if we can create a keycloak mapper for `sub` claim.

Then `sub` would be rewritten from original token?

[2021-01-14 12:43] j-zimnowoda commented on #185
@Morriz I am wondering if we can create a keycloak mapper for `sub` claim.

Then `sub` would be rewritten from original token.

I am just not sure about possible collisions if keycloak is an IdP broker for many IdPs.

[2021-01-14 12:46] j-zimnowoda commented on #210
@rawc0der is it still valid ?

[2021-01-14 12:47] j-zimnowoda commented on #186
Already done.

[2021-01-14 12:47] #186 closed

[2021-01-14 12:49] j-zimnowoda commented on #135
implemented

[2021-01-14 12:49] #135 closed

[2021-01-14 13:46] j-zimnowoda commented on #275
Having a dedicated SA per workload is also the requirement for authenticating at Vault.
Thus this issue should have high priority.

[2021-01-14 17:16] rawc0der commented on #210
Somehow I was still able to reproduce the issue on my local, regardless of the previous "update" we did. We can keep this open imo.

[2021-01-15 07:53] rawc0der commented on #254
Yes, this issue is fixed, but #210 is still under the radar.

[2021-01-15 14:54] Dunky13 opened #282 "Update otomi-tools' jq"
**Is your feature request related to a problem? Please describe.**
CI of `otomi-core` fails when having `yq` and `jq` as shadow functions that execute through docker `otomi-tools`.
Turns out that `otomi-tools`' jq version is 1.5 and has apparently issues with json piped to it.
jq in `otomi-tools` needs to be updated to 1.6

**Describe the solution you'd like**
Update `otomi-tools` to use jq-1.6 in

[2021-01-16 10:06] #254 closed

[2021-01-16 10:07] Morriz commented on #185
I think that is a good idea, yes. We can provide configurations for multiple IDPs, so I don't see a problem there.

[2021-01-16 10:16] Morriz commented on #282
Can you not create issues for PRs that are not delivered to master yet? Just incorporate your findings there. Closing this.

[2021-01-16 10:16] #282 closed

[2021-01-18 06:56] svatwork commented on #261
Related: https://github.com/mikefarah/yq/issues/422

[2021-01-18 08:52] j-zimnowoda commented on #261
I see that  mikefarah/yq#422 is solved. Releases after 12.06.2020 should not have performance issue.

[2021-01-18 09:46] svatwork commented on #261
Well apparently there was a version where this wasn't an issue: "after downgrade to yq 2.4.1 --> zippy fast again (ie: 30s to parse yaml file in 3.x became sub second response time with 2.4.1)"

[2021-01-18 09:50] svatwork commented on #261
Well the issue isn't solved in 3.3.4 which is what I'm running:
[code]

[2021-01-18 09:51] svatwork commented on #261
Let's wait for #269 as discussed in Slack.

[2021-01-18 17:59] #250 closed

[2021-01-20 09:47] j-zimnowoda opened #284 "otomi validate-templates does not always fail on error"
**Describe the bug:** (a clear and concise description of what the bug is)
I explored build logs from `otomi-core` and found out that bin/validate-templates.sh does not fail on error.

**To Reproduce**
Steps to reproduce the behavior:
1. See logs https://github.com/redkubes/otomi-core/runs/1723535137?check_suite_focus=true
2. Observe lines:
[code]

**Expected behaviour:** (a clear and concise desc

[2021-01-20 10:19] svatwork commented on #284
Yes, I've noticed this too. So it could be that some of the code we check in is not that predictable.

[2021-01-20 10:36] rawc0der commented on #284
I found some of the concepts we are using too be flawed, as we are making very wrong assumptions.
For example:
 - we are using `set -e` and assigning `exitcode=0`. Initializing it with `0 is wrong. We should start running this kinds of programs with the assumption that it is `Failing` unless everything went fine, then set it to `0`/`Success`.
 - if something not related to the part of the script w

[2021-01-20 12:32] rawc0der commented on #210
The current spec is probably broke for some Admin REST api calls, although the part of the API for `AuthenticationFlowManagement` is working. Currently I did not manage to extract all proper calls to create an AuthenticationFlow from scratch.

Closing this issue as I did not make a lot of progress without an officially provided openAPI spec / official npm package or examples.

[2021-01-20 12:32] #210 closed

[2021-01-20 13:02] svatwork opened #285 "Link wiki to otomi.io"
**Is your feature request related to a problem? Please describe.**

I would like to share this demo as a repo but the official documentation isn't that visible.

**Describe the solution you'd like** A clear and concise description of what you want to happen.

My preferred solution would be to insert this link in the "Wiki" button in this repository.

**Describe alternatives you've considered** A c

[2021-01-20 13:03] svatwork commented on #285
So I found a URL to otomi.io under "To get up and running with the platform please follow the online documentation for Otomi Container Platform. It lists all the prerequisites and tooling expected, so please read up before continuing here." but I still think it should be more visible than that.

[2021-01-20 19:53] Dunky13 commented on #261
#271 Doesn't solve it, does the following command work:
`yq r -j $sourcePath | jq "del(.. | .required?)" | jq "del( .properties.toolsVersion? )" | jq "del( .properties.cluster)" | yq r --prettyPrint -`
Could use a little polishing, maybe combine the jq commands into one?

[2021-01-21 06:28] svatwork commented on #261
Yes, if these are equivalent then it this is a solution, the performance is fine now. Do you want to create a pr?

[2021-01-21 09:17] Morriz commented on #285
Can you fill in the template? I don't know what this is about...
[code]

[2021-01-21 09:18] Dunky13 commented on #261
Maybe this works: `yq r -j $sourcePath | jq "del(.. | .required?) | del( .properties.toolsVersion? ) | del( .properties.cluster)" | yq r --prettyPrint -`

[2021-01-21 09:22] svatwork commented on #261
Works great too.

[2021-01-21 13:10] svatwork opened #286 "As a user of Otomi CE, I want to have an abstraction for k8s ConfigMaps Secrets, so I can mount it in my job"
# Story
This is a split story from #204.

The vision is that we offer abstractions that deal with what is published via otomi only. We will allow the mounting of configmaps and secrets only, so we have to offer abstractions for that. Suggestion for an end-result in `otomi-values`:
[code]

Suggestion for `values-schema.yaml`:
[code]
# Tasks

core:
1. [ ] Propose values-schema modification based on

[2021-01-21 13:23] svatwork opened #287 "As a user of Otomi CE, I want a change in my k8s ConfigMap and Secret detected automatically, so I can spend less time on managing team jobs"
# User story
This story is split from #204.

The relevant chart is `otomi-core/chart/jobs`.

# Tasks

core:
1. [ ] Propose `values-schema.yaml` modification (if necessary)
2. [ ] Refactor out the boolean logic and replace it with the computation of a hash function which will detect whether a k8s ConfigMap or Secret has been modified.
3. [ ] Add the runPolicy key as an annotation in the job spec.
4

[2021-01-22 09:45] Morriz commented on #284
This ONLY relates to CI unset. I rewrote this to collect failures IF CI=true, AND exit with 1 IF at least one error occured...was there regression?

[2021-01-22 09:47] Morriz commented on #284
The trap function should of course ALWAYS exit with 1 if $? ne 0. Maybe that is not the case

[2021-01-22 09:56] Morriz commented on #284
@j-zimnowoda can you next time please be precise in your bug report? This is about `otomi validate-templates`.

[2021-01-22 09:58] Morriz commented on #284
I think this script is not correctly configured to guard against missing input. It should:
- only need ENV_DIR if no extra flag was given
- also need CLOUD & CLUSTER otherwise

But this script just keeps running if the pre-conditions are not met. @rawc0der can you fix that?

And then add this extra piece to the trap function condition:
[code]

[2021-01-22 10:06] Morriz commented on #261
@Dunky13 can you create that PR then so we can benefit soon?

[2021-01-22 10:09] Morriz commented on #286
Why is this split off? It is part of the solution. Please stop doing this if you can just solve it in your open PR.

[2021-01-22 10:10] Morriz commented on #287
same...close and integrate in your open PR

[2021-01-22 10:10] #287 closed

[2021-01-22 10:10] #286 closed

[2021-01-22 10:36] Dunky13 commented on #261
PR is open, ready for check & merge

[2021-01-22 13:05] Morriz opened #289 "Update cert-manager chart to reload pod when deps change"
cert-manager does not restart when credentials change. It might be beneficial to create a mechanism to force a reload when one of these change:

- (cluster)issuers
- secret used for credentials towards dns zone

[2021-01-25 14:07] svatwork opened #290 "Propagate helmfile parameters to otomi validate-templates"
We want to limit `otomi validate-templates` to select charts for developing.

Tasks:
- [ ]: Rewrite $1 part to instead take named parameter `--all` which implies to run the routine for all clusters (else the target cluster)
- [ ]: Add propagation from all helmfile parameters to templating commands (`hf template` -> `hf "$@" template`)

[2021-01-26 08:21] svatwork opened #291 "otomi validate-templates stuck at drone/templates/secrets.yaml"
**Describe the bug:** (a clear and concise description of what the bug is)

When executing `otomi validate-templates` with the latest pull from master, the following error is thrown:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Pull master
2. Run `otomi validate-templates`
3. See error

**Expected behavior:** (a clear and concise description of what you expected to happen)

[code]

[2021-01-26 08:21] svatwork commented on #291
I would like to investigate further, but before I do that, maybe someone knows what's behind this?

[2021-01-26 10:07] rawc0der commented on #291
Hmm, I saw these kinds of errors before. It happens only when helmfile does secret decryption and something did not run correctly (timeouts, unreachable urls, etc), making the templates fail. But I am not sure exactly if that's the case here.

Also the issue for exiting the scripts correctly on errors is resolved in #177.

[2021-01-26 22:27] Morriz commented on #291
Strange, as I don't get that error. Can you reproduce @svatwork with these commands?
[code]

You should see this output:
[code]

I am closing this as a nopro.

[2021-01-26 22:27] #291 closed

[2021-01-26 23:54] Morriz commented on #285
Can you please be more precise about your proposed solution? If this is just a link in the wiki, then please add it and don't start a feature request.

[2021-01-26 23:54] #285 closed

[2021-01-27 00:57] #252 closed

[2021-01-27 01:11] Morriz opened #293 "Implement Gitea to hold otomi values"
# User story
As a user I would like to have a git repo for otomi values out of the box, so I don't have to bring my own.

# Definition Of Done
- [ ] Tasks are done
- [ ] (Unit) Tests are added to code
- [ ] (Architecture) Design Record(s) have been added as `adr/*.md` and appended to list in `adr/_index.md`
- [ ] Specs and demo files have been updated to reflect code changes
- [ ] Documentation ha

[2021-01-27 01:46] #109 closed

[2021-01-27 01:48] Morriz commented on #173
closing as too vague

[2021-01-27 01:52] #19 closed

[2021-01-27 02:38] #181 closed

[2021-01-27 07:09] svatwork commented on #285
In the configuration of this repository I believe you can set the "wiki" tab above to reference otomi.io directly. I don't have the permissions for that.

[2021-01-27 07:12] svatwork commented on #252
I still agree with the premise, but I think we are moving this into "discussions"?

[2021-01-27 07:13] svatwork commented on #293
Let's assign this to @Dunky13?

[2021-01-27 07:17] svatwork commented on #181
I actually like this idea a lot, it would improve the new user experience. Why was it closed?

[2021-01-27 07:18] svatwork commented on #173
I still know what it's about, would you like me to refine it? I still think it's important.

[2021-01-27 13:01] Morriz commented on #285
done

[2021-01-27 13:02] Morriz commented on #252
Not actual any more. We will deal with requests as they come.

[2021-01-27 13:03] Morriz commented on #293
good idea, as was already discussed :)

[2021-01-27 13:10] Morriz commented on #181
It is already part of the new PR by @Dunky13. Where are those requirements found for `otomi configure`? We wrote them up somewhere but I see no more PR.

[2021-01-27 13:11] Morriz commented on #173
I think the values are good now, unless you can explicitly list ones that aren't?

[2021-01-27 13:14] #270 closed

[2021-01-27 13:18] svatwork commented on #173
Well I think that's an assumption and I hope it's true of course. But it would give me some peace of mind if I can go through it once. But other than that, this story is also about giving a visual demonstration about the initial phase of starting out with Otomi, which can be very useful for new users.

[2021-01-27 13:20] svatwork commented on #293
I see then this moved into "progress"...

[2021-01-27 13:23] Morriz commented on #173
Ok, lets add issues found after creating a demo movie.

[2021-01-27 13:25] Morriz commented on #293
IMO people should self assign when they start work. Communication about who does what should not be done via the "assignee" field, as that might change always.

[2021-01-27 13:26] svatwork commented on #285
Sorry about that, it used to be that it would immediately open another website. Or I'm just assuming this and my memory is failing me. I don't mind if you remove it now, because this might not be a big improvement.

[2021-01-27 13:26] Morriz commented on #293
I don't want pre-assigning to hinder adoption by those who are available and ready to start on it.

[2021-01-27 13:27] svatwork commented on #293
Yes that makes sense, sorry about that.

[2021-01-27 13:27] Morriz commented on #285
I did not find that option, but this is fine and can't do damage I think

[2021-01-27 13:28] Morriz commented on #293
No worries, no sorry's p

[2021-01-27 13:55] Dunky13 commented on #181
There's no PR for it yet.
It's related to #274 but put the development of otocomplete on hold. I spent 3 full days on about 20 lines of code and wasn't making any progress. autocomplete for zsh is tricky when moving into several levels. The `otomi configure` that @Morriz mentioned is scripted there as well, but as dev is on hold for now, it hasn't been pulled into otomi.

[2021-02-03 18:12] Morriz commented on #290
@svatwork can this be pulled forward?

[2021-02-04 07:24] svatwork commented on #290
I'm not certain what you mean, but if you mean focus on this, then yes, this is my priority.

[2021-02-04 11:34] j-zimnowoda opened #308 "Unable to login to harbor registry"
**Is your feature request related to a problem?**
It happens quite often that, I am not able to login to harbor registry by using `User name` and `CLI secret` obtained from harbor UI.
[code]
The JWT obtained from Keycloak and forwarded, with each request, does not contain refresh_token. You can check it by visiting `httpbin.<cluster-domain>` service, perform request inspection and see content `Aut

[2021-02-04 17:02] Morriz opened #311 "bats run fails for one test from otomi-core"
**Describe the bug:** (a clear and concise description of what the bug is)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to otomi-core
2. otomi x bats bin/tests

**Expected behavior:** (a clear and concise description of what you expected to happen)

All to pass

[2021-02-04 17:02] Morriz commented on #311
@svatwork can you look at this?

[2021-02-04 17:12] #261 closed

[2021-02-05 06:20] Morriz commented on #308
@j-zimnowoda the title reveals a bug. Can you then please, please use the bug report template? I really like good input, this is confusing. Closing

[2021-02-05 06:20] #308 closed

[2021-02-08 10:39] j-zimnowoda opened #316 "Unable to login to harbor registry"
**Describe the bug:** (a clear and concise description of what the bug is)

It happens quite often that, I am not able to login to harbor registry by using `User name` and `CLI secret` obtained from harbor UI.

Steps to reproduce the behavior:
1. Go to harbor service in otomi
1. Login with OIDC
1. Go to User Profile (right top corner)
1. Copy `< User_Name>` and `<Client secret>`
1. Wait 60 seconds

[2021-02-08 16:49] j-zimnowoda opened #317 "Facilitate teams with ExternalSecrets and Vault"
**Is your feature request related to a problem?
Teams can define ExternalSecrets CR that fetches values from Vault service.
The ExternalSecrets are cluster wise.

**Describe the solution you'd like**
See discussion: https://github.com/redkubes/otomi-core/discussions/279

**Describe alternatives you've considered**
See discussion: https://github.com/redkubes/otomi-core/discussions/279

[2021-02-08 17:10] #263 closed

[2021-02-08 17:10] j-zimnowoda commented on #263
Discussion is finished. Requirements are complete and user stories defined.

[2021-02-10 16:46] j-zimnowoda commented on #284
Reopening as this bug is not fixed.

[2021-02-10 19:27] Morriz commented on #284
fixed in upcoming merge with master

[2021-02-10 19:39] #153 closed

[2021-02-11 10:09] j-zimnowoda commented on #284
Sorry, I have to reopen it, there are still bugs in this script:

[code]

Refer to: https://github.com/redkubes/otomi-core/runs/1874200118

[2021-02-12 15:24] #204 closed

[2021-02-12 15:31] Morriz commented on #284
fixed on master

[2021-02-12 15:31] #284 closed

[2021-02-15 13:40] Morriz opened #319 "Prometheus rule reporting node NotReady is failing"
**Describe the bug:**

Alertmanager is not sending alerts when a node is unhealthy (marked NotReady).

**To Reproduce**
Steps to reproduce the behavior:

1. Start a new cluster
2. Deploy otomi
3. Mark a node NotReady? How?
4. Observe: no alerts triggered

**Expected behavior:**

A prometheus rule to trigger an alert.

[2021-02-15 16:50] Dunky13 commented on #293
Does this mean that we provide with a otomi-values template, that the use has to fill in themselves? Or a way for the user to configure the data, that is then inserted into the gitea o-v repo?

[2021-02-16 15:59] j-zimnowoda opened #322 "A user can define containerPort for Knative Service"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
A user that defines a Knative Service is not able to provide containerPort. Instead, a platform selects the default port `8080` for the application that is running in Pod. However, we cannot assume that each application listens on port 8080, because it is a choice of developer.

*

[2021-02-16 16:23] Morriz commented on #322
May I ask if this is a problem? If so, why is this surfacing now? Are our users always deploying containers on port 8080? I was under the impression that knative detects the exposed port automatically, and connects it to the outside overlay network on port 8080.

[2021-02-17 09:00] j-zimnowoda opened #323 "A user can define env name when its value is referenced from a secret"
**Is your feature request related to a problem? Please describe.**

Having a secret defined like below:
[code]

A user can define Knative Service, and instruct to take env value from an existing kubernetes secret.
[code]

After deploying the team-ns chart, the KnativeSevice looks like:
[code]

From the above snippet, the env name (`TARGET`) is templated by the otomi based the `target` key from the

[2021-02-17 09:08] svatwork commented on #323
Interesting, I made this proposal first but @Morriz and I decided to move forward with the original solution. I wouldn't think it would run into limitations so quickly.

[2021-02-17 09:18] rawc0der commented on #319
Hi,

So I marked a node NotReady on `eks.gk-test`, but I see the alert firing:

[code]
https://apps.gk-test.eks.otomi.cloud/alertmanager/#/alerts?receiver=default.  (login with admin as oidc is not gonna work for this cluster).

I think the alert will not fire if prometheus/alertmanager pods were scheduled on the troubled node ... accounting for overcommitment, if the pods can't be rescheduled the

[2021-02-17 09:22] rawc0der commented on #319
P.S. for repeating this process you can do the following:
- ssh into a node using private certificate generated on cluster creation
- break kubelet configuration so it will fail on restart
- observe status NotReady on node
- observe alert if prometheus+alertmanager pods are running

[2021-02-17 14:24] Morriz commented on #323
What is the limitation here? I don't see it. The uppercase var name `TARGET` is given by the user already. The person in charge of creating that secret is creating it for consumption, not just for fun.

[2021-02-17 14:27] Morriz commented on #323
YAGNI is useful here. You are anticipating re-use of secrets, but I don't. KISS baby

[2021-02-17 16:32] Morriz commented on #319
great observation...last year we introduced a higher priorityclass for otomi-core pods, and at that time I was convinced by Taco (who added it) that there should be no need for multiple priorityclasses. Maybe we should have multiple? and make sure prometheus-operator chart pods get highest?

Shouldn't lower prio pods get evicted to redeploy higher prio pods? I think it works like that. So then we

[2021-02-18 10:25] svatwork opened #327 "Permission denied on accessing host directory in Docker"
##  Describe the bug

`otomi` cannot access files from the host if the host is not MacOS. See: https://stackoverflow.com/questions/24288616/permission-denied-on-accessing-host-directory-in-docker. This is solved on MacOS by OSXFS, but does not exist on Linux hosts.

<details><summary>Without `--user $(id -u):$(id -g)`</summary>

[code]
[code]
[code]
[code]

</details>

<details><summary>With `--us

[2021-02-18 10:41] #173 closed

[2021-02-18 11:04] Morriz commented on #327
Lets create an issue where we promise to create something like this: https://gist.github.com/renzok/29c9e5744f1dffa392cf

And for now update the docs to say you can only run otomi cli in dev mode on OSX.

[2021-02-18 11:05] #311 closed

[2021-02-18 12:30] Morriz commented on #316
The otomi.io docs should describe this limitation, and a Task added to expose a refresh token in Keycloak. Then this issue can be closed.

[2021-02-18 12:30] Morriz commented on #316
Docs updated and Task created: https://github.com/redkubes/otomi-tasks/issues/22

closing this

[2021-02-18 12:30] #316 closed

[2021-02-18 14:36] j-zimnowoda opened #328 "A user can login to a Kubernetes cluster via OIDC authentication flow"
**Is your feature request related to a problem? Please describe.**
I would like to use keycloak, which is provided by otomi-core, to authenticate users of my managed Kubernetes cluster.

**Describe the solution you'd like**
- Configure kubeapi oidc authentication method to communicate with keycloak and verify a token.
- Enhance `otomi login` CLI to leverage kubelogin and to perform OIDC web authen

[2021-02-18 15:11] #328 closed

[2021-02-22 08:55] j-zimnowoda commented on #317
Outcomes from demo:
1) teams should only be able to deploy ExternalSecrets that points to a specific vault path
2) the `dataFrom` property is not needed right now

Ad1) check possible solutions: ExternalSecrets Scoping access` vs `OPA policies`

[2021-02-22 09:17] svatwork commented on #317
We updated the story template: https://github.com/redkubes/unassigned-issues/blob/master/.github/ISSUE_TEMPLATE/user-story.md.

I don't know if it is beneficial, it should be helpful for a developer. If it's not, I'm eager to hear your feedback.

I'm a bit confused, because this looks like a feature request, but it's a story apparently.

[2021-02-24 20:10] Morriz commented on #317
Yeah, can you fix that @j-zimnowoda ? Please use the story template and use it correctly, as it holds process checkpoints.

[2021-02-25 10:40] #323 closed

[2021-02-25 11:01] Morriz commented on #172
closing as we already have mTLS via sidecar injection for team namespaces

[2021-02-25 11:01] #172 closed

[2021-02-25 15:16] j-zimnowoda commented on #317
Please, do it if you have time for that

[2021-02-25 15:18] j-zimnowoda commented on #317
You are confused by format but do you understand the content ?

[2021-02-25 15:41] svatwork commented on #317
That's correct.

[2021-02-26 15:02] Morriz opened #332 "commenting out values leads to errors without failing the validation"
**Describe the bug:** (a clear and concise description of what the bug is)

When a user comments out certain property values, the template generation fails.

Steps to reproduce the behavior:

1. comment out everything after `azure:` in `settings.yaml`
2. `otomi validate-values` > see that it is passing
3. `otomi values | grep -B1 -A1 azure` > see that it generated empty values for `azure:`
4. `oto

[2021-03-01 14:45] Morriz commented on #317
Yeah, we don't ask just because...it really holds an entire checklist that needs to be ticked off

[2021-03-04 08:53] j-zimnowoda commented on #332
Thanks for reporting that issue.
I took a look at `values-schema.yaml` file from `otomi-core` repo and realised that azure object does not have required properties specified. I believe we need to inspect templates and conclude which fields are required and which are not.

[2021-03-04 10:47] Morriz commented on #185
@j-zimnowoda this needs prio as demos are failing again. Can you inplement that mapper?

[2021-03-05 08:29] Morriz opened #337 "kubeapps template regenerates password every time"
The instructions with their chart are incorrect, and lead to new passwords every time. A bug was filed here:
https://github.com/kubeapps/kubeapps/issues/2409

We should check on their progress or fi it ourselves and PR it.

[2021-03-05 12:52] Dunky13 opened #338 "Job ENV variables are shared between init container & running container"
**Describe the bug:** (a clear and concise description of what the bug is)
There is one config map created for both the init container and the running container. When you have the same values in the init as well as running container, it would store the value twice in the config map, making otomi/k8s complain

**To Reproduce**
Steps to reproduce the behavior:
Create a new Job:
[code]

The config ma

[2021-03-05 13:25] svatwork commented on #338
I like that you re-use our job chart, well done! Also a good catch of this use-case.

In your feature branch, do you think we can split it up like this:

[code]

into

[code]

[2021-03-08 11:30] Morriz commented on #317
It is still not clear why this issue exists @j-zimnowoda ? What should be the outcome of this?

[2021-03-08 11:30] #317 closed

[2021-03-08 15:16] j-zimnowoda commented on #317
The story defines the outcome

[2021-03-08 17:36] Morriz commented on #332
Yeah, good idea. We should also be more specific in our azure schema what those fields are for. I will create an issue for that.

[2021-03-09 09:36] Morriz opened #342 "give azure app registrations their own fields"
# User story
As a user, I want to configure azure app registrations , so I can target different resources

## Background

Azure values are highly dependent on app registrations, and as such usually have the following fields:

- tenantId
- subscriptionId
- clientId
- clientSecret

We now have those properties set on our top-level `azure` prop, which are re-used in many locations. This is problemati

[2021-03-09 14:35] Dunky13 opened #345 "Add Gitea as chart"

[2021-03-09 14:36] Dunky13 opened #346 "Add gotmpl glue and default config to use git.$domain etc"

[2021-03-09 14:37] Dunky13 opened #347 "Post deploy values to gitea"
There are a couple of scenarios how this post-deploy script should work.

## Scenario 1:
A user bootstraps otomi and runs deploy to quickly deploy otomi, the bootstrapped values should be added to gitea.
`local values folder`: Git not initialized & No remote exists
`gitea repo`: Repo not initialized & No commits done yet

Solution: **Easy**
Initialize `values folder`, add `gitea repo` as remote &

[2021-03-09 19:07] Morriz commented on #259
Where is the REQ discussion for this @svatwork ?

[2021-03-10 07:12] svatwork commented on #259
This is the first one: https://github.com/redkubes/otomi-core/discussions/344

[2021-03-10 09:29] Dunky13 commented on #347
After discussing with @Morriz these are the following steps:

1. If a `.git` folder doesn't exist do `git init`
2. Get commit count from remote origin (regardless whether it is gitea or other source)
3. .
    1. If commit count > 0: Do nothing
    2. If commit count == 0: Commit & push to gitea

All other scenarios are manual interventions.

[2021-03-10 14:09] Dunky13 opened #349 "Update docs with Gitea"

[2021-03-10 22:49] Morriz opened #353 "update otomi with workaround for docker run in linux"
See last comments

[2021-03-10 22:50] Morriz commented on #327
closing in favor of #353

[2021-03-10 22:50] #327 closed

[2021-03-10 23:02] Morriz opened #354 "Create and deploy team pull secrets for harbor"
We provide secrets to create robot accounts. These same secrets should be used to create pull secrets that need to be added.

Steps:
- [ ] add secrets to team schema
- [ ] use these secrets in the routine that is responsible for the creation of pull secrets, and register them to the default service accounnt (done in `values/k8s/k8s-raw.gotmpl`)

[2021-03-10 23:25] Morriz commented on #290
closing in favor of #330

[2021-03-11 08:09] j-zimnowoda commented on #354
@Morriz I am afraid that we can't provide secrets to create robot account.
In Harbor you can request to create a robot account and Harbor provides the secret value.
Maybe we do not even need to store that value in values.

I see the following scenario that job-harbor performs:
For each team:
1. Create robot account in harbor for pulling images only
2. Create a pullSecret in team namespace

Job wil

[2021-03-11 08:42] Morriz commented on #354
The problem is that the team "default" service account needs to get that pull secret added. We have a mechanism for that in gotmpl, and I am trying to avoid any kubectl actions. We wish to preserve static generation of resources.

Maybe we have to make an exception and do it in typescript via the kube api package. Long time ago I have created methods in the otomi-stack lib that do that already, li

[2021-03-12 12:34] Morriz opened #356 "vault-secrets-webhook.gotmpl should use core namespace list"
Please avoid creating duplicate lists from now on.

[2021-03-12 12:52] Morriz opened #357 "vault install problems"
**Describe the bug:** (a clear and concise description of what the bug is)

Two issues observed:

- helmfile 03 and 05 are probably too close so a race condition occurs and 05 can't find the crds from 03
- after deploying again another error occurs:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Install `-l pkg=vault` on a fresh cluster
2. Oberve above issues

[2021-03-15 10:24] Dunky13 opened #359 "Upgrade Gitea chart to 1.14 (once available)"
**Describe the bug:** (a clear and concise description of what the bug is)
Currently the chart ignores the `psp-allowed-users` policy since the init container and the running container of gitea both need root access.
This also means that we cannot set securityContext (yet).
Once Gitea 1.14 is released (shouldn't take long anymore - https://github.com/go-gitea/gitea/milestone/76) then version-tagge

[2021-03-15 11:51] j-zimnowoda commented on #357
O wow,

Shall I implement 'prepare' hook that will wait until CRD is available? E.g.:

helmfile.d/helmfile-05.init.yaml:
[code]

bin/wait-for-crd.sh:
[code]

[2021-03-15 11:56] Morriz commented on #359
This is not a bug. I am removing this label

[2021-03-15 12:14] Morriz commented on #357
No, the deployment should not halt. But we should have a mechanism to deploy 'late' resources. Everywhere we deploy CRs with the raw chart we have potential race conditions. We avoided them so far by timing the charts far enough apart. Lets do that first.

[2021-03-15 13:32] j-zimnowoda commented on #357
Ok, then what number of helmfile in between is sufficient ?

[2021-03-15 14:36] Morriz commented on #357
First of all I think when that operator chart is done installing CRDs it should be ready to receive CRs, so no race condition should occur. It could do so with a helm test. Please check/inform upstream that this should be done. Provide it to our chart otherwise?

[2021-03-15 14:37] Morriz commented on #357
If you just want to deploy the CRs try later. At least tell the chart maintainers about the problem

[2021-03-15 16:10] #293 closed

[2021-03-15 16:23] #290 closed

[2021-03-16 07:37] svatwork commented on #357
To quote: "we avoid race conditions by timing the charts far enough apart". I understand from this set-up that we don't support `helmfile --concurrency>1`.

What I'm trying to add to this discussion is: I wonder if it should be our goal to provide a helmfile release spec that supports installing multiple releases at the same time? And if there are race conditions, they should be mentioned explicit

[2021-03-16 08:32] #356 closed

[2021-03-16 08:45] Morriz commented on #357
That is not the problem here, as these charts are installed concurrently according to helmfile (read the docs on how it processes the helmfiles). The real problem seems to be that the CRDs are not yet registered fully. In the past I have indeed noticed that I have not been able to deploy CRs immediately after CRDs.

[2021-03-16 14:10] j-zimnowoda commented on #357
@Morriz the issue is about ValidationError not a race condition.
Could you provide values that you are using?

[2021-03-16 16:48] Morriz commented on #357
I reported this issue, and clearly stated "Two issues observed", the first one being that on a fresh cluster the Vaut CRs can't be created and I observed errors about the CRDs not existing.

The second run the CRDs were there, and then I observed the second issue about the `resources` field.

[2021-03-16 17:01] #347 closed

[2021-03-16 17:01] #349 closed

[2021-03-16 17:02] #346 closed

[2021-03-17 10:23] Dunky13 opened #363 "Create K8S Secret to hold OAuth app data"

[2021-03-17 10:23] Dunky13 opened #364 "Mark drone as a post stage"

[2021-03-17 10:24] Dunky13 opened #365 "Create `retrieve-credentials` script"

[2021-03-17 10:25] Dunky13 opened #366 "Gitea: Create Secret before gitea job"

[2021-03-17 10:37] Dunky13 commented on #366
Duplicate #363

[2021-03-17 10:37] #366 closed

[2021-03-17 12:55] Dunky13 opened #367 "Add BATS tests for shell scripts"
Task for story: https://github.com/redkubes/unassigned-issues/issues/170

[2021-03-19 10:05] bartusz01 opened #370 "Otomi does not automatically pull latest version of `otomi-core:master` & `otomi-core:latest` image"
**Describe the bug:** (a clear and concise description of what the bug is)
When Otomi values repo defines `otomi-core:master` docker image and an older version of this image already exists locally, it will use the old version instead of pulling the newest version of `otomi-core:master` (also applies to `otomi-core:latest`)

**To Reproduce**
Steps to reproduce the behavior:
1. Download old version

[2021-03-19 11:10] Morriz commented on #370
This is inherent to docker, and adding that step incurs a performance impact.

The same goes for docker-compose. Even their own product does not do a pull every time. They leave that up to the dev to decide.

Closing this as a no-op. Tnx for the report. Maybe this will benefit somebody later...

[2021-03-19 12:16] Dunky13 commented on #370
Is the performance impact that high, that if we do a `docker pull` on only master & latest tag?
If should only download a couple of layers. And would be a nice Quality-of-programming, not having to worry if master/latest are actually bleeding-edge.
Any other tag could be ignored. Thus would be interesting for devs that want to try it. Once in production it would use a versioned tag, that is not co

[2021-03-19 12:56] svatwork commented on #370
I just want to add: be careful with latest (https://medium.com/@mccode/the-misunderstood-docker-tag-latest-af3babfd6375).

[2021-03-22 12:38] Dunky13 opened #371 "Running specific bats will run all as well"
**Describe the bug:** (a clear and concise description of what the bug is)
When wanting to run a single bats file, it will run that one first,  and then run all other tests as well.

**To Reproduce**
Steps to reproduce the behavior:
run `otomi bats bin/tests/otomi.bats` for example - or any other test. It will run that test, and then run all defined tests as well

**Expected behavior:** (a clear a

[2021-03-22 13:10] j-zimnowoda commented on #185
I have created the mapper nut it does not seem to take into effect, as I see that keycloak still assign sub for a new users instead of reusing the original one.

![image.png](https://images.zenhubusercontent.com/5e81a8d81dea46667ed31838/45e950ba-ae6d-44a6-8211-5d05400dab33)

![image.png](https://images.zenhubusercontent.com/5e81a8d81dea46667ed31838/d434d73f-1821-4974-8b98-05bc9763769e)

[2021-03-22 14:08] j-zimnowoda commented on #185
I also was thinking to use script mappers but this option seems to be deprecated.
[code]

[2021-03-22 19:39] Dunky13 opened #372 "BATS uses evironment variables from shell"
**Describe the bug:** (a clear and concise description of what the bug is)
When running the bats test, it takes some environment variables set in shell, instead of the variables set in the script.

**To Reproduce**
When running any function that calls/uses helm(file), it seems that helmfile takes the environment variables set in the terminal, and not in the script.

It seems to fail when running t

[2021-03-22 19:41] Dunky13 commented on #367
The `retrieve-credentials.sh` script is mostly 3rd party commands, that (from what I understood) shouldn't be tested.
There is no logic in this script (except possibly a check if `.sops.yaml` exists) that should/could be tested

[2021-03-23 07:50] svatwork commented on #367
Thanks for improving BATS.

I don't really understand this issue, where do you propose to add BATS tests for "shell scripts"?

[2021-03-23 07:51] svatwork commented on #367
Oh... this is one of those issues under a Zenhub story? It's hard to tell from Github.com...

[2021-03-23 08:02] svatwork commented on #371
Filter still works... `otomi bats -f $string_in_test_header`

[2021-03-23 09:06] Morriz commented on #370
I just think that adds too much overhead for something that needs to be pulled only when an image is expected to be new

[2021-03-23 09:10] Dunky13 commented on #370
Master & latest (as the tag implies) should always be new, right?
It does affect devs only, I think. But "knowing" about it, isn't a given - otherwise Bart wouldn't get the issue of old images?

[2021-03-23 09:25] j-zimnowoda opened #373 "Reload Pod upon secret update"
Pods that leverage secrets as env variables need to be recreated, so their env variables are updated.

We would like to use a controller that observe secrets interactively recreate Pods.
https://github.com/stakater/Reloader

[2021-03-23 13:36] j-zimnowoda commented on #185
We will create a mapper **oidc to sub.**

![image.png](https://images.zenhubusercontent.com/5e81a8d81dea46667ed31838/d01cac6e-53ef-411d-9982-5fa36693adb5)

[2021-03-23 15:08] Morriz opened #374 "Install otomi from a chart"
# User story
As a user, I want to install otomi on a cluster with a helm chart, so I can access the console immediately.

This makes it easier for others to install otomi.

## Use cases

1. A user can install otomi from a remote chart (providing a pull secret)
2. A user can start a proxy to the console

## Definition Of Ready

- [ ] Requirements have been reviewed, agreed and locked in discussion:

[2021-03-23 17:04] Morriz opened #375 "Optimize pvc size for our apps"
Now the defaults are used, but those usually result in too large disks for the following:

- oauth2-proxy-redis: disk should be 1 GB
- keycloak: postgresql should be 1 GB

[2021-03-23 17:13] Morriz commented on #372
@Dunky13 can you please rewrite your bug finding? It seems you are already writing solutions, but now it is not clear what the real bug is?

[2021-03-23 17:15] Morriz commented on #372
Also, I think you are mistakenly reporting that $ENV_DIR would point to a file? Can you reproduce the command that shows me this?

[2021-03-23 17:17] Morriz commented on #372
Also, can you NOT modify environment variables, but instead create your own variable names? (Possibly giving them the value of an ENV var as default.)

[2021-03-23 17:21] Morriz commented on #367
@Dunky13 I do expect the description field of an issue to always be filled with the work that needs to be done. We want to avoid confusion as to what an issue entails.

[2021-03-23 17:24] Morriz commented on #371
@svatwork does your observation mean this is a no-op? Then please close this with the correct label ("invalid" in this case).

[2021-03-23 17:25] Morriz commented on #370
It is just a matter of learning to work with docker I guess.

[2021-03-23 17:26] Morriz commented on #373
@j-zimnowoda is this a story? or a task? please don't be lazy and set a label always.

[2021-03-23 19:22] Morriz commented on #337
closed with latest addition to master

[2021-03-23 19:22] #337 closed

[2021-03-23 19:23] Morriz commented on #259
thanks for all the hard work and congrats with the lessons learned, but this darling will be closed in favor of our simplifying efforts ;)

[2021-03-23 19:25] Morriz commented on #357
closing with delivery of redkubes/otomi-core#369

[2021-03-23 19:25] #357 closed

[2021-03-23 20:28] bartboshuizen commented on #370
Not really about docker, more about `otomi deploy`. Once you realise it won't update the `latest` or `master` images it's fine. However, I do believe more people starting with Otomi might run into this. Hence, the suggestion to, at the very least, log a warning when using `latest` or `master`  image that already exists locally.

That being said, let's leave it at that if you don't consider it to b

[2021-03-24 07:17] svatwork commented on #371
Yes, I guess it is. Without filter the default behaviour is to run all tests, and `-f` supports the use case to run specific tests.

[2021-03-24 07:17] #371 closed

[2021-03-24 07:54] Morriz commented on #370
This is not a valid use case as people will not use "latest" in their cluster, which is not allowed by the policies.

"master" is used only by devs and as such every dev understands how to use docker.

[2021-03-24 07:59] Morriz commented on #370
We will not go windows style on users and show them a stupid message every time. This problem is inherent to docker. It is not smart to try to fix third party tools outside of those tools. I suggest you join those tools repos and learn why things exist the way they do. You can always ask why even docker themselves don't "fix" this...

Can we please continue and let this on be?

[2021-03-24 08:13] Morriz commented on #371
@svatwork this was reported as a bug and that label could have stayed next to the "invalid" label to reflect how we see this bug.

We don't have to remove labels unless we use those to indicate the stage of the process, such as "help wanted" .

[2021-03-24 10:52] Dunky13 commented on #367
There is no confusion as this issue is linked in zenhub as a task to a story.
Tasks are defined as one-line items - titles in this case. Adding a description is duplicate work and adds overhead that is unnecessary.

[2021-03-24 14:24] Morriz commented on #367
Well, then I am almost sure that it can just be a checkbox in the original story, and not created separately. If it involves delivery of a piece of work that is beneficial on its own, the whole world now only sees an issue with a title. Meaningless. We should avoid creating issues without contained meaning.

[2021-03-25 22:14] Morriz opened #378 "vault does not use oidc refresh token"
**Describe the bug:** (a clear and concise description of what the bug is)

After a while, vault loses the oidc sessions and presents an ugly list of auth options.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to vault
2. login with oidc
3. do something else for a while
4. go back to vault and reload

**Expected behavior:** (a clear and concise description of what you expected to happe

[2021-03-26 15:32] Morriz opened #379 "add snapshot test"
We need to add a snapshot test for build time that compares the output of `otomi template` with snapshots.

[2021-03-26 15:42] Morriz opened #380 "amazon env vars missing"
**Describe the bug:** (a clear and concise description of what the bug is)

when choosing to use awskms I don't see the needed env vars injected into drun:

[code]

In the current setup these are needed for sops.

Next to that I see `AWS_DEFAULT_REGION ` and `AWS_REGION` are also missing from vault operator.

[2021-03-26 15:44] Morriz commented on #380
As this was a bit sloppy work, I am now wondering what else is missing from vault operator?

[2021-03-29 07:41] j-zimnowoda opened #381 "Bootstrap only essential values"
**Is your feature request related to a problem?**

When I bootstrap otomi values there are many configuration parameters that are optional.
In particular there are hardcoded container image versions for the `otomi-api` and `otomi-console` apps (the latest tag)
However, given `otomi-core` version are released with specific version of `otomi-api` and `otomi-console` not latest one.

@bartboshuizen t

[2021-03-29 07:54] j-zimnowoda commented on #370
@Morriz
As `dev` I often to forget to pull master and loose my time because of that.

I also would like to point out that drone pipeline always pulls the image, therefor I would like to preserve consitency and have same behaviour in CLI.

Can we reopen this issue ?

[2021-03-29 07:55] Morriz commented on #381
The demo files are problematic as they serve 2 functions:

1. contain as much as possible configuration to cover code paths
2. demo files for bootstrap phase

Now, given 1 you can deduce that we want those settings in there, and working. So please don't think that we should remove them there (not now at least).

Taking 2 into account, it is also beneficial that the examples show what is possible.

[2021-03-29 07:59] j-zimnowoda commented on #381
Well, the solution is simple.
Have values for bootstrap and for test for coverage and used both of them while running validation tests.

Please do not ignore our reports. I see you are closing a lot of them, without really consulting it with the team.

[2021-03-29 08:23] Morriz commented on #370
I said already that the performance hit is too large (

No, as I don't see any use case. Why can't you?

As "dev" you actually use local code, so that is not the case.
Only when you deploy from a values repo could you theoretically run into this problem, but that should not be:
- clients don't get master
- we ONLY allow our own repos to run master, but we depend on drone to do deployments

[2021-03-29 08:37] Morriz commented on #381
I just think that when we bootstrap a new user with values, those should be present. We should not adopt a mindset that avoids yaml configuration because "it looks like a lot of stuff". Instead we should focus on installing those values with minimal configuration changes. After flattening that could be as easy as installing a chart. See https://github.com/redkubes/otomi-core/issues/374.

And I am

[2021-03-29 08:48] Morriz commented on #370
I just tested the performance hit, and it is negligible from the bootstrap perspective. We could indeed do a docker pull just after determining the image tag. Reopening.

[2021-03-29 10:56] Morriz opened #383 "otomi cli calls run twice"
**Describe the bug:** (a clear and concise description of what the bug is)

When running otomi cli calls they seem to get called twice. When running the following I see diff output twice:

`DEBUG=1 otomi diff -l name=loki`

[2021-03-29 11:54] j-zimnowoda commented on #374
So weird. It was closed automatically after I merged https://github.com/redkubes/otomi-core/pull/382

[2021-03-29 13:04] Morriz commented on #374
I must have pasted the wrong hash in the pr description :|

[2021-03-30 08:31] j-zimnowoda opened #384 "Remove CLOUD and CLUSTER dependencies"
- [x] remove `*overrides*.yaml` files
- [x] remove `clouds/$CLUSTER` structures and consolidate team files like so:
[code]
- [x] Rework loading of environment in `helmfile.d/snippets/defaults.gotmpl` and `helmfile.d/snippets/env.gotmpl` accordingly
- [x] Add `cluster` object to values that describes single cluster and is currently is derived according to CLOUD and CLUSTER  environment
[code]
- [x]

[2021-03-30 09:55] Morriz commented on #372
I am closing this as I am 99% sure that this is a misunderstanding. I can explain better if you call me ;)

[2021-03-30 09:55] #372 closed

[2021-03-30 10:08] Dunky13 commented on #353
Will research this on my linux machine to see if this is an issue or a non-issue

[2021-03-30 11:50] j-zimnowoda commented on #381
If I buy a new car, I just want to press `start` button and have a pleasant first journey.
With time and need, I will discover all the parameters.
Maybe, I even tune the engine but only if my first impression is positive.

[2021-03-30 21:53] Morriz opened #385 "Split up values-schema into multiple files"
To make values-schema easier to manage, and to accomodate transformation of values-schema to OAS 3.1 model for consumption by otomi-api, we want to split up values-schema.yaml into multiple files. Take a look at the files that exist in `redkubes/otomi-api/src/openapi` for the names of the files. We will put them in `values-schema/*.yaml`.

Example to link json files: `$ref: file:values-schema/serv

[2021-03-31 00:27] Morriz commented on #381
Maybe you are right, but we should provide demo values imo. That is what they are: demo values. We can provide docs that say you can just toss them away and start fresh. We should bootstrap them next to `env` in `envDemo` I think. Then we have to maintain 2 sets of values: demo and clean. Clean setup can just contain the files.

[2021-03-31 19:22] bartboshuizen opened #386 "external-dns does not automatically remove old records"
**Describe the bug:**
external-dns does not automatically remove old records from dns zone.

As of v0.7 (which is already being used by us), external-dns, with `policy=sync` is able to create/update but also delete the records it owns, by using TXT records with a similar name ([see here](https://github.com/kubernetes-sigs/external-dns/blob/master/docs/proposal/registry.md)).

This also means that

[2021-04-01 14:00] Morriz opened #389 "Loki time range incorrect"
**Describe the bug** A clear and concise description of what the bug is.

Loki does not show the time range in the graph.

**To Reproduce** Steps to reproduce the behavior.

Select time range with selector and observe the graph window time range.

**Expected behavior** A clear and concise description of what you expected to happen.

Graph to represent the selected time range.

**Additional context

[2021-04-01 18:38] Morriz commented on #381
good idea!

[2021-04-06 10:14] #381 closed

[2021-04-06 12:52] j-zimnowoda opened #390 "The otomi destroy with option to remove namespaces"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem

The `otomi destroy` command does not remove namespaces created by otomi

**Describe the solution you'd like** A clear and concise description of what you want to happen.
[code]
Which will remove namespaces created by otomi are deleted.

[2021-04-06 14:43] j-zimnowoda commented on #390
I also noticed that crds and mutatingwebhookconfigurations are not removed

[2021-04-07 07:56] j-zimnowoda commented on #390
Closing it in favour of discussion: https://github.com/redkubes/otomi-core/discussions/391

[2021-04-07 07:56] #390 closed

[2021-04-07 11:46] svatwork commented on #385
Looks like `$ref: values-schema.yaml` (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.1.0.md#referenceObject)

[2021-04-07 12:04] svatwork commented on #353
I bake my own container image and don't use the `app` user, works fine now.

[2021-04-07 12:35] svatwork commented on #383
Looks like `DEBUG`s meaning in the context of `bin/otomi` has changed to TRACE.

[2021-04-07 12:38] svatwork commented on #370
I thought #382 closed this?

[2021-04-07 12:38] j-zimnowoda opened #393 "Unable to deploy otomi without manual intervention"
**Describe the bug:**
Unable to deploy otomi on brand new cluster.

**To Reproduce**
Steps to reproduce the behavior:

1. create a new cluster
2. call `otomi deploy` from you shell
3. Observe that deployments stucks
4. Observer that istiod k8s deployment is not able to schedule Pod `k -n istio-system describe deploy istiod`
5.
**Expected behavior:**

It is enough to call once `otomi deploy`. No ma

[2021-04-07 12:53] j-zimnowoda commented on #384
Adding `export KUBECONFIG=${ENV_DIR:-$PWD}/secrets.kubeconfig.yaml.dec` to `.env` assumes that there is encryption enabled and that's not always the case.

[2021-04-07 13:22] Dunky13 opened #394 "bin/gen-drone otomi_image_tag bug"
A bug introduced in #370 / #382 where image tag was not read properly.

[2021-04-07 13:28] #394 closed

[2021-04-08 12:01] svatwork commented on #171
Attempting to reproduce the problem on the demo cluster.

[code]

etc.

[code]

[code]

I've tried to look up the `tenant_id` or `X-OrgId` from somewhere but couldn't find it, could you please provide some more details on this bug?

[2021-04-08 12:05] svatwork commented on #389
I think this is irrelevant, considering it looks like the problem here is that the time range is only limited to 3 hours, while I assume from your description we don't see any time range?

[2021-04-08 12:08] svatwork commented on #171
[code]

[2021-04-08 12:35] Morriz commented on #171
Please don't ever access services via proxy

[2021-04-08 12:40] svatwork commented on #171
Alright, but you probably understand I cannot learn anything from this statement.

[2021-04-08 13:19] svatwork commented on #171
Had a conversation with @Morriz today.

Just want to report on the author's comment about the limit if it's to anyone help...

- https://github.com/grafana/loki/issues/1917#issuecomment-634577346

"You can set the value to 0 so the limit will be disabled. But you should be really careful when you do this. You might end up crashing Loki or Grafana might become unresponsive if you try to load huge n

[2021-04-08 13:29] j-zimnowoda opened #397 "The gatekeeper-operator namespace collision"
**Describe the bug:** (a clear and concise description of what the bug is)
I can't deploy otomi from scratch

**To Reproduce**
Steps to reproduce the behavior:

1. Create brand new cluster
2. Enable `gatekeeper-operator` chart `charts.gatekeeper-operator.enabled: true`
3. `otomi deploy`
4. Observe that `gatekeeper-operator` tries to create namespace
5. Observe the following error:
[code]
**Expecte

[2021-04-08 13:34] Morriz commented on #389
Seems to be due to the limitation to manually have to provide a line limit (default 1000, max 500 in our setup). I added an issue with grafana here: https://github.com/grafana/grafana/issues/32791

[2021-04-08 14:04] Morriz commented on #171
not reproducible after learning about the quirks of operating loki ;p

[2021-04-08 14:04] #171 closed

[2021-04-08 14:08] j-zimnowoda opened #398 "Unable to deploy drone-server on initial deployment"
**Describe the bug:** (a clear and concise description of what the bug is)

**To Reproduce**
Steps to reproduce the behavior:

1. Prepare brand new cluster
2. Enable drone: `charts.drone.enabled: true`
2. otomi deploy
3. observe that at `team-admin/drone-server` the `istio-proxy` sidecar is not able to connect with istiod
[code]
5. observe that `istiod` complains about
[code]
5.Note that keycloak

[2021-04-08 14:08] j-zimnowoda commented on #398
running second time `otomi deploy` is workaround to that issue.

[2021-04-09 07:08] Morriz commented on #397
Is gatekeeper-operator not installed in default namespace then? It complains it is installed somewhere else (gatekeeper-system?), and can’t create gatekeeper-system ns.

[2021-04-09 07:41] Morriz commented on #398
"Seems"? I am 99% sure this is not a drone issue so I am closing this. Other solutions than drone suffer from the same (but expected) problem: they need to wait for keycloak to become available. All the grafana instances "suffer" this as well. But like I said it is expected because this is how k8s advises to build deps (wait for services to become available) and will resolve over time.

[2021-04-09 07:41] #398 closed

[2021-04-09 07:43] Morriz commented on #397
The gatekeeper-operator will create that namespace and thus it should be removed from core.

[2021-04-09 08:41] Morriz commented on #384
So? What are you saying?

[2021-04-09 08:55] #370 closed

[2021-04-09 08:56] Morriz commented on #353
Can you provide more details for others here to help them?

[2021-04-09 08:57] Morriz commented on #385
I am already refactoring this in api. Coming soon

[2021-04-09 09:35] svatwork commented on #385
For reference: https://github.com/redkubes/otomi-api/issues/145.

[2021-04-09 09:46] svatwork commented on #353
For development purposes:

1. Remove the following from the tools Docker:

[code]

2. Docker build the tools image, e.g.

[code]

3. Replace the `otomi-core` Dockerfile's referred image to the built tools image:

[code]

4. Replace every occurrence of `--chown=app` from the root Dockerfile's source code:

[code]

with

[code]

5. Build the `otomi-core` image, e.g.

[code]

6. Replace `otomiVersion

[2021-04-11 11:52] Morriz commented on #353
This effectively makes it use the base image user, which is root. Not wanted.

[2021-04-11 15:10] Morriz commented on #259
Reopening as we need this to migrate values forward automatically.

[2021-04-11 15:17] Morriz commented on #393
fixed

[2021-04-11 15:17] #393 closed

[2021-04-11 15:50] #185 closed

[2021-04-12 08:32] j-zimnowoda opened #403 "The Keycloak job does not wait until keycloak public URL is reachable"
**Describe the bug:**
The Keycloak maintenance job does not wait until Keycloak public URL is reachable.

**To Reproduce**
Steps to reproduce the behavior:

1. Create brand new cluster
2. Make sure that keycloak in enabled
2. `otomi deploy`
3. Observe that Pods from `job-keycloak` Job are in Error state
4. Observe that init container `job-keycloak-ini` claims that Keycloak public URL is reachable

[2021-04-12 13:53] j-zimnowoda commented on #397
Yes, the gatekeeper-operator chart creates `gatekeeper-system` namespace.

[2021-04-12 14:00] #397 closed

[2021-04-12 14:01] j-zimnowoda commented on #393
thanks

[2021-04-12 17:03] Morriz commented on #403
@j-zimnowoda please add a wait of 10 seconds in the task initContainer after it curls the url with a 200.

[2021-04-13 09:11] j-zimnowoda commented on #164
@Morriz the team feels that this story is way too big.
Could you split it into smaller parts that represents each application separately?
I am also wondering if Knative shall be also upgraded together with Istio?

[2021-04-13 12:02] svatwork commented on #353
Then why ask for it?

[2021-04-14 07:06] svatwork opened #405 "gem-utrecht/azure/dta overcommitted CPU resources"
7:50 AM

[code]

Checking it out... ("take ownership, then notify relevant people what you are working on.")

[2021-04-14 08:01] svatwork commented on #405
This was what I could find about overcommitting: https://docs.openshift.com/container-platform/3.9/admin_guide/overcommit.html. Any other documentation available?

I don't see anything interesting right now though:

[code]

I guess it would be a good idea to check the stats from 7:50 AM. I would like to take a look at Grafana, if someone would give me access to the Otomi admin console?

[2021-04-14 08:29] svatwork commented on #405
[code]

OOMkilled...

[2021-04-14 11:37] Dunky13 commented on #332
@Morriz So this issue is only to make the azure values required? And another issue is for specifying the azure fields?

[2021-04-15 01:50] Morriz commented on #164
If that can be delivered separately, great. Go ahead and cut it up as you see fit...

[2021-04-15 01:54] Morriz opened #410 "set /live and /ready as k8s probes for api and console"
Check if console already has LightShip, which is used for the probes...

[2021-04-15 02:13] Morriz commented on #405
Please increase resources if you see fit

[2021-04-15 02:20] Morriz commented on #332
No, one by one inspection is needed and thought about

[2021-04-17 18:45] bartusz01 opened #411 "Nodes require a reboot on azure demo cluster (+others ?)"
**Describe the bug:** (a clear and concise description of what the bug is)
AKS automatically checks for OS security fixes or kernel updates on the Linux nodes and installs them on a nightly basis.  Some of these fixes/updates require a node reboot. In this case, a file `/var/run/reboot-required` will be automatically created on the host. AKS does not automatically restart the nodes!

I'm not sure

[2021-04-19 09:05] Dunky13 commented on #383
I checked out the master branch, and pulled the latest code.
For testing purposes, I changed the Gitea version number from `1.13.4` to `1.13.6`
Then I both: `DEBUG=1 otomi diff -l name=gitea` and `TRACE=1 otomi diff -l name=gitea`

In both cases the output was the same and I did not find the code running, or seeming to run twice.

If this is still a bug, that I am not aware of, please amend the de

[2021-04-20 04:09] mojtabaimani opened #412 "Replace .Environment.Values with .Values"
### Environment.Values vs Values

The `{{ .Values.foo }}` syntax is the recommended way of using environment values in helmfile.

Prior to this [pull request](https://github.com/roboll/helmfile/pull/647), environment values were made available through the `{{ .Environment.Values.foo }}` syntax. This is still working but is **deprecated** and the new `{{ .Values.foo }}` syntax should be used instea

[2021-04-20 14:24] Morriz commented on #411
Good catch. Can you log the output on the other clouds as well?

[2021-04-20 14:25] Morriz commented on #383
closing then...tnx

[2021-04-20 14:25] #383 closed

[2021-04-20 16:52] #338 closed

[2021-04-20 16:59] #384 closed

[2021-04-22 12:24] Morriz commented on #319
closing this as it is assessed to be of type "kubernetes scaling problem" which sometimes occurs when scaling is not enabled or not working for some reason (limits reached etc).

[2021-04-22 12:24] #319 closed

[2021-04-22 12:28] svatwork commented on #319
Is this related: https://github.com/SUSE/doc-caasp/issues/684?

[2021-04-22 12:40] Morriz opened #414 "make schema more robust"
The schema now does not check wether certain properties come together. We have to modify the schema to group those together using `anyOf` blocks. Example:

[code]

should become

[code]

[2021-04-22 15:27] mojtabaimani commented on #380
The region var is already there in config part of vault operator.
I will add other vars for aws to drun env.

[2021-04-23 08:33] j-zimnowoda opened #416 "Helm is not able to deploy Gatekeeper CRDs on initial deployment"
**Describe the bug:**
Helm is not able to deploy Gatekeeper CRDs on initial deployment.
BUT after second deployment attempt it does.
**To Reproduce**
Steps to reproduce the behavior:

1. Prepare fresh cluster
2. `otomi deploy`
3. Observe that deployments fails with error complaining on missing gatekeeper related CRDs

**Additional context:** (add any other context about the problem here)

[code]

[2021-04-23 13:50] Morriz commented on #164
Simplified to only upgrade istio in this story.

Rest will come as separate stories.

[2021-04-23 14:23] Morriz commented on #365
obsolete

[2021-04-23 14:23] #365 closed

[2021-04-23 14:26] Morriz commented on #259
Parking this once more as this seems more complex seen the different files involved, and knowing we don't have much need for it yet.

[2021-04-23 14:34] Morriz commented on #353
assigning to Sebastiaan as he is into this. Don't reassign!

[2021-04-23 15:02] bartusz01 commented on #411
On EKS (AWS) we are using managed nodegroups. As described [here](https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html) we need to manually trigger updates as these are not deployed automatically like with AKS (Azure)

If we look at the [update behaviour](https://docs.aws.amazon.com/eks/latest/userguide/managed-node-update-behavior.html) we can see that nodes are restarted als

[2021-04-26 08:34] Morriz commented on #416
Is this still am issue after our last deployment?

[2021-04-26 09:46] Morriz commented on #411
Ok. Can you create a PR to also deploy it on AKS then? It requires a one line code change ;)

[2021-04-28 06:51] j-zimnowoda commented on #416
yes

[2021-04-28 12:13] j-zimnowoda commented on #411
Is the reboot sentinel file path the same on Azure and AWS?

[2021-04-28 12:33] j-zimnowoda commented on #164
@Morriz you are asking to integrate istio **1.9** with knative **0.21**

BUT the knative documentation specifies istio **1.8.2** to be compatible with  **knative 0.21**
See: https://knative.dev/v0.21-docs/install/installing-istio/#supported-istio-versions

Could you double check it.

[2021-04-29 06:31] svatwork commented on #353
There is a project that changes ownership on the fly, basically what OSXFS does for Docker for Mac: https://github.com/tianon/gosu.

For reference, this post: https://stackoverflow.com/a/54787364/8357826.

<details>
<summary>Summary</summary>

For others that see this issue with containers running as a different user, you need to ensure the uid/gid of the user inside the container has permissions

[2021-04-29 06:37] svatwork commented on #353
I agree, it isn't a permanent solution.

[2021-04-29 09:01] svatwork commented on #164
Looks like it is supported (but not stable). Maybe it was not updated in the documentation. For reference:

- https://github.com/knative-sandbox/net-istio/pull/515
- https://knative.dev/blog/2021/02/26/version-v0.21-release/#serving-v021

[2021-04-29 09:30] #164 closed

[2021-04-29 09:45] #411 closed

[2021-04-29 09:46] Morriz commented on #416
so `disableValidationOnInstall: true` is not helping the crds to get installed in time?

[2021-04-29 11:42] j-zimnowoda commented on #410
@Morriz the nginx from `otomi-console` already implements `/healthz`.
It does not make sense to introduce LightShip there.

[2021-04-30 07:50] Morriz commented on #410
True, and it's just a statics server, so we have no precondition to wait for ready.

[2021-05-03 08:43] j-zimnowoda commented on #416
The `disableValidationOnInstall: true` works for  `olm` chart

But @mojtabaimani was deploying the cluster and we still experience the issue with gatekeeper.

[2021-05-04 10:38] svatwork commented on #259
I have some new insights. I think we maybe should reconsider how we will approach this problem.

I was reading [Designing Data-Intensive Applications](https://www.amazon.nl/Designing-Data-Intensive-Applications-Reliable-Maintainable/dp/1449373321/ref=sr_1_1?__mk_nl_NL=ÅMÅŽÕÑ&crid=1EO4AF3ZQQNOQ&dchild=1&keywords=dataintensive+applications&qid=1620123493&sprefix=data+inte%2Caps%2C161&sr=8-1), and th

[2021-05-04 22:44] #410 closed

[2021-05-06 13:27] mojtabaimani opened #419 "ERROR: `getopt --test` failed in this environment."
**Describe the bug:** (a clear and concise description of what the bug is)

`otomi bootstrap`  command in MacOS produce this error:
ERROR: `getopt --test` failed in this environment.

 Because of the difference between getopt command in macos and linux.
You can avoid this error by installing the gnu-getopt and then
`export PATH="/usr/local/Cellar/gnu-getopt/1.1.6/bin":$PATH`

**To Reproduce**
Run

[2021-05-06 13:29] svatwork commented on #419
Yes, this is the expected behaviour. It should throw to let the user know whether the correct `getopt` is installed... So this is not a bug.

[2021-05-06 21:10] #99 closed

[2021-05-06 21:54] Morriz commented on #411
I assumed that chart is doing its work for those clouds that need it...

[2021-05-06 22:09] Morriz commented on #416
fixed with bcc0b9f18f6e85d70f45ffc11f28efd2c6c01851

[2021-05-06 22:10] Morriz commented on #353
can you test and document that for the outside world then?

[2021-05-06 22:15] Morriz commented on #259
since we are only evolving forward I have no problem with our chosen approach...this is about automating a version to a newer one and never having to know what was the state before

[2021-05-06 22:32] #419 closed

[2021-05-07 05:43] svatwork commented on #353
There are actually two options he suggests:
- Changing ownership on the fly when mounting host volumes into the container
- Using named volumes

Which do we prefer? Personally, I think named volumes would be more flexible and powerful for our stack.

[2021-05-08 16:08] Dunky13 opened #424 "Trace argument passed along"
**Describe the bug:** (a clear and concise description of what the bug is)
When passing the `-t` argument in `otomi encrypt` it gets passed along to the encryption function

**To Reproduce**
Steps to reproduce the behavior:

`otomi encrypt charts/secrets.gitea.yaml -t`

The last executed command is:
`bin/otomi:176:docker run -it --rm -v /Users/marc/Desktop/otomi-core:/Users/marc/Desktop/otomi-core

[2021-05-08 16:22] Dunky13 commented on #424
Also running this command manually, by starting the container in `bash` without the `helm secrets enc ...` and running that command manually, throws the following error:
[code]

To run the command correctly, first you need to enter the `WORKDIR/env` folder (which is mounted to `ENV_DIR`), and from there running `helm secrets enc ./env/charts/secrets.gitea.yaml`.

Seems like some nesting has gone a

[2021-05-08 16:24] Dunky13 commented on #424
Also, no error is thrown on failed encryption/decryption (if file doesn't exists for example, or config doesn't exits, etc.)

[2021-05-09 21:31] Morriz commented on #353
You choose ;) You don't have to involve me in all of these decisions. Just explain your choices if that is informative. If I need to be involved I hope you can explain why and what is expected of me.

[2021-05-09 21:53] #424 closed

[2021-05-11 08:26] #380 closed

[2021-05-14 10:07] Morriz commented on #416
Reopening as this is not fixed. Found the issue: https://github.com/open-policy-agent/gatekeeper/issues/1156

[2021-05-14 10:08] Morriz commented on #416
will reopen separate issue as the open issue is about webhook not available.

[2021-05-14 10:08] #416 closed

[2021-05-14 10:11] Morriz opened #425 "gatekeeper install: connection refused"
When installing on a fresh cluster we see the following error:
[code]

This is due to: https://github.com/open-policy-agent/gatekeeper/issues/1156

[2021-05-14 14:21] bartusz01 commented on #386
To clarify, lets say we want external-dns to be able to remove old records, then there will be this issue when a single DNS zone is used by multiple external-dns deployments, they will delete each others records. There are two possible solutions for that:
1. specify ```domainFilters[]``` to contain an extra unique sublabel per cluster,
For example,
demo aks cluster: ```domainFilters=[demo.aks.otom

[2021-05-17 13:23] j-zimnowoda commented on #386
Hi @bartusz01, thanks for keeping us up to date with external-dns features.

Currently we are using option domainFilters BUT the policy is `upsert-only`.
It would make sense to change it to `sync` as customers may create/remove services and we do not want to leave DNS records garbage.

@Morriz, this is a simple change,  I believe next sprint we could make it.

[2021-05-18 07:23] Morriz opened #426 "Set defaults from schema"
There should be a mechanism that setz default values based on schema definition.

Investigate what lib exists so that we can do it with one line of code.

[2021-05-18 07:42] bartusz01 commented on #386
Maybe I wasnt completely clear, but you've got to change the value of ```domainFilters``` when you change the ```policy``` to ```sync```.
What I expect to happen otherwise is that with the current value of, for instance ```domainFilters=[aks.otomi.cloud]``` (for azure), in case of having multiple external-dns deployments, they will delete each others created records in the DNS zone. Currently we w

[2021-05-18 07:56] j-zimnowoda commented on #386
I got it now. Thanks for clarification

[2021-05-18 08:00] Morriz commented on #386
So lets be clear about the two issues and not mix them:

1. No cleaning of old records (low impact)
2. Possibility of overwriting records (high impact, solution already surfaced: clusters will have awareness together of what is taken in a dedicated zone just for otomi)

[2021-05-19 08:09] bartusz01 commented on #386
FYI, in Azure DNS zone, right now there are 176 records and at this moment none of them is used..
It'll take a while before we hit the limit though (10.000 recors). I havent checked for other CSPs

A simple solution to all this could be to automatically assign ```domainFilters``` a default value of ```domainFilters=[<Cluster name>.<DNS zone URL>]```, since anyways the cluster name is used like tha

[2021-05-19 12:58] Morriz commented on #386
I still don't see a solution presented for our situtation where multiple clients manage a shared zone.

[2021-05-19 13:00] Morriz commented on #386
I am closing this as a no-op since no impact is seen and no real value is presented. Any cloud admin can do this maintenance if it is desired

[2021-05-25 14:53] #364 closed

[2021-05-25 14:53] #363 closed

[2021-05-25 14:55] #359 closed

[2021-05-26 08:13] #367 closed

[2021-05-27 10:11] svatwork commented on #353
This is my proposal for named volumes:

[code]

It would set the correct permissions into the named volume. It would enable us to mount everything separately (or everything with `xargs`) like:

[code]

[2021-05-27 12:02] Morriz commented on #426
We decided what to do and I will create a story for it.

[2021-05-27 13:09] #426 closed

[2021-05-27 14:07] Morriz commented on #332
We should move the problematic `azure` prop and its related information to where it belongs. I suspect that info is now only used for `azureMonitor` so we might move it to a new `azureMonitor` root prop.

Please decide together for definitive agreement on this. Include me please!

[2021-05-27 14:21] svatwork commented on #353
Follow-up sprint planning: create aforementioned proposal IF not on "Darwin" (or something similar).

[2021-05-28 07:48] svatwork commented on #332
I would propose to make an inventory of these kinds of errors, there is a whole category of errors that should be caught by the validator but aren't. I know the following logical categories exist:

- Valid schema
- Invalid schema
  - Caught by the validator
    - Throws a warning but skips it
    - Throws an error and exits
    - Throws an error but doesn't exit
  - Not caught by the validator

[2021-05-30 11:40] Morriz commented on #319
Please corroborate by trying the suggestion from the link

[2021-05-30 11:45] Morriz commented on #332
Why? That is the validators' terrain. We configure it and happily read it's error output.

[2021-05-31 08:20] Morriz commented on #259
Can you do this after the KinD delivery @svatwork

[2021-05-31 11:06] Morriz opened #432 "teams don't get alerts from failing pods in their namespace"
**Describe the bug:** (a clear and concise description of what the bug is)

teams don't get alerts from failing pods in their namespace

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://otomi.dev.eks.otomi.cloud
2. Deploy a new knative service based on a container that will fail startup (CrashloopBackOff)
3. Go to alertmanager team app and observe no alerts are reported (https:/

[2021-06-23 09:56] svatwork commented on #259
To be honest, I don't think this story is realistic and I hope we can have a chat whether this will really solve a problem.

[2021-06-23 12:51] Morriz commented on #259
why wouldn't it be? I observe that we create, delete and move props, and transform values. Can we not cover those use cases in the approach we designed?

[2021-06-23 15:42] bartusz01 opened #447 "harbor database CrashLoopBackOff"
**Describe the bug:** (a clear and concise description of what the bug is)
harbor database in CrashLoopBackOff, the following logs are available:
[code]
**To Reproduce**
Steps to reproduce the behavior:
It randomly occured, no steps available. However, when fixing the issue manually inside the cluster (fix in #445). Drone pipelines now fail as its reseting the harbor db configurations, making it g

[2021-06-23 15:46] Morriz commented on #447
this is due to missing configuration for harbor, specifically:
[code]

When not providing that part it regenerates the htpasswd and blocks harbor from using it. This is a known bug in this chart, and in all charts that use the postgresql chart as dependency.

[2021-06-23 15:47] Morriz commented on #447
@j-zimnowoda I believe you added an issue there already about this, no? Or added to an open issue there?

[2021-06-23 15:52] Morriz commented on #447
sorry, totally unrelated to what I was just explaining...this issue is actually another bug in the harbor app, and is not easily solved by changing permissions in the container volume, unless the `runAsUser` policy is laxed. So this is a dupe of goharbor/harbor-helm/issues/444

[2021-06-24 17:05] bartusz01 opened #448 ""create new service" with SSO authentication is not working"
**Describe the bug:** (a clear and concise description of what the bug is)
After creating a new service from the Otomi platform with ```Authenticate with Single Sign On``` enabled, when I access the workload from the browser and login with OIDC, I get a 503 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new service from Otomi console with these settings:
  - Select ```Public

[2021-06-24 17:18] bartusz01 opened #449 ""Download KUBECFG" button downloads faulty kubeconfig"
**Describe the bug:** (a clear and concise description of what the bug is)
When downloading a kubeconfig with the ```Download KUBECFG``` button, the cluster api server value contains two times 'https://', we are getting:
[code]

**To Reproduce**
Deploy otomi with a apiserver value in this format:
[code]
and go to otomi console to download the kubeconfig.

**Expected behavior:** (a clear and concis

[2021-06-25 05:59] svatwork commented on #449
If someone can invite me to NS I can take a look. Someone made the assumption that any `apiServer` variable is prefixed with `https://`, you can fix it if you replace the values with:

[code]

[2021-06-25 06:01] svatwork commented on #448
If someone invites me to NS I could take a look.

[2021-06-25 07:58] bartusz01 commented on #449
Hey, indeed, couldnt check it until this morning, so you were ahead of me ^^

However, its a valid assumption as most people would provide the info from e.g. ```kubectl cluster-info```, which does contain ```https://``` already. There is nowhere stated that it shouldnt be like this and everything is working fine, until you download the kubeconfig.

I'll create a PR that it should match regex where

[2021-06-25 08:00] bartusz01 commented on #449
@svatwork I can't give you access to NS (yet), looking for a solution there :)

[2021-06-25 10:44] svatwork commented on #449
@Morriz  can we change `server: https://${env.CLUSTER_APISERVER}` to `server: ${env.CLUSTER_APISERVER}`?

[2021-06-25 13:13] Dunky13 commented on #449
Could we check whether the value starts with `https://`?
In bash it could easily be done something like
`https://${env.CLUSTER_APISERVER##https://}`
But not sure how to do it it gotmpl?

[2021-06-25 13:22] bartusz01 commented on #449
@Dunky13 I suppose this value is set from ```cluster.apiServer``` in the values repo, which already requires ```https//``` in the schema. Therefore it wouldn't be needed to check.

Thats why I didnt create the PR, I had an old schema, didnt notice it before

[2021-06-25 14:50] Morriz commented on #449
this is a matter of adding a schema pattern, no?

[2021-06-25 14:54] Morriz commented on #448
I also can't see anything in the cluster.

[2021-06-25 14:55] Morriz commented on #448
Can't reproduce this on dev.

[2021-06-25 14:57] bartusz01 commented on #449
No, schema pattern is already there: ```'^(https:\/\/)([\w\-])+\.{1}([a-zA-Z]{2,63})([\/\w-]*)*\/?\??([^#\n\r]*)?#?([^\n\r]*)$'```
Hence the suggestion in Sebastiaans comment, to avoid adding ```https://``` when its already set.

[2021-06-26 15:02] vfarcic opened #450 "Missing -p|--profile argument"
**Describe the bug:** (a clear and concise description of what the bug is)

Getting the following error:

[code]

**To Reproduce**

[code]

**Expected behavior:** (a clear and concise description of what you expected to happen)

There should be no error.

As a bonus, the script should verify whether all the requirements are fulfilled before it starts "doing stuff".

**Cluster(s):**

- Cloud: GCP
-

[2021-06-26 16:07] Morriz commented on #450
Hey, tnx for trying the installation routine. We are almost ready with a chart installer, and might have broken master. Hope to update the docs next week when we deliver the chart install.

[2021-06-28 10:28] Morriz commented on #450
For now it should be possible to just add the `-p` before `$PROFILE` (as the error mentions). You can try:
[code]
But like I said we are about to publish a chart, which will have an extensive `values.yaml` file with a `values.schema.json` file to verify the input. We will also provide a `values-minimal.yaml` file for quick deployment, because we understand the size of all the available options can

[2021-06-28 18:09] bartusz01 commented on #448
There was a misconfiguration on the client side, it is working now.

[2021-06-28 18:09] #448 closed

[2021-06-29 09:47] j-zimnowoda opened #453 "Release otomi/tools on tools/Dockerfile change"
**Is your feature request related to a problem? Please describe.**
The tools docker image is released manually

**Describe the solution you'd like**
I want to automate that process in GitHub pipeline of the repo.

The docker image build pipeline shall be triggered whenever tools/Dockerfile changes.
The release tag for the image shall be updated according to type of change that is described in comm

[2021-06-29 19:19] Morriz commented on #449
please create a PR if you think it is needed

[2021-06-30 09:43] svatwork opened #454 "Create KinD script"
Tasks:
- [x] Start cluster node
- [x] Build end-to-end (ie. make sure github actions will swallow the DinD stuff)
- [x] Add profile x y z from profiles/
- [x] Test profile x y z from Github actions

[2021-07-02 06:00] svatwork opened #463 "Root Dockerfile could copy only necessary binaries from tools Docker"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
is. Ex. I'm always frustrated when [...]

Our root Dockerfile uses a tools image (`tools/Dockerfile`) as a base layer. It seems to me we only need to copy over the binaries. That could save some space.

**Describe the solution you'd like** A clear and concise description of what y

[2021-07-02 06:59] Dunky13 commented on #463
That is not necessarily true as the base image of tools plays an important role. Not every distribution works well with all binaries. I know alpine doesn't support everything Ubuntu does.

I do agree we should investigate optimizing our docker images.

[2021-07-02 07:21] svatwork commented on #353
Sorry guys, my hack didn't work as expected.

It seems rootless containers on a Linux host is still an open issue, read https://github.com/moby/moby/issues/2259. Please note the distinction between NEW volumes and run-time/bind volumes.

And to me this is the expected behaviour. Why would the `app` user be able to edit my files? I found a work-around by mounting `/etc/passwd` and adding an `app` u

[2021-07-02 07:52] svatwork commented on #463
Yes, but that is not an issue, as you can just use the base image of either alpine or Ubuntu for pulling in the binaries.

[2021-07-04 16:25] Morriz commented on #463
I suggest we deliver the tools/Dockerfile with a multi stage build, the last one cherrypicking the binaries

[2021-07-05 09:24] #449 closed

[2021-07-05 13:11] j-zimnowoda opened #464 "Update readme"
- [ ] Update `otomi-core` documentation

[2021-07-06 12:53] Dunky13 commented on #463
Also using experimental `--squash` flag, I managed to reduce the tools image by 500MB from 1.76GB to 1.15GB

[2021-07-13 09:00] Morriz commented on #463
please create a PR if you think it is ready @Dunky13 ;)

[2021-07-13 09:14] Dunky13 commented on #463
I'm not working on that rn. Working on fixing bugs in the new CLI. I didn't spend time yet to optimize/move over binaries in the dockerfile.

[2021-07-14 08:32] svatwork opened #468 "Go templating: source the readFile from absolute path"
At the moment a `readFile` function is executed in our Go templating to source the `ENV_DIR`. This assumes that the `ENV_DIR` is mounted in `${stack_dir}/env`. Relative paths limit us for obvious reasons. Can we replace it with a command like (please assume pseudo-syntax):

[code]

E.g. for cluster.yaml.

[2021-07-14 08:46] Morriz commented on #468
The location of $ENV_DIR (`${stack_dir}/env`) is a necessity for the container and drone to run helmfile. So please don't waste time investigating wether it's possible to move it somewhere else...

[2021-07-14 08:46] #468 closed

[2021-07-14 08:49] Dunky13 commented on #468
I don't know enough about drone for this. But the container mounts `${stack_dir}/env` as well as `$ENV_DIR`. So $ENV_DIR would be available in the container, thus that doesn't matter.
Like I said, don't know about the impact on drone. But it would seem like a more solid solution to use a absolute path, instead of relative paths.

[2021-07-14 08:55] svatwork commented on #468
I don't think @Morriz wants an open conversation about this so I'm not gonna waste my energy on it...

[2021-07-18 11:43] srodenhuis opened #471 "Alertmanager stays in CrashLoopBackOff when installing with chart"
When deploying Otomi with Chart, Alertmanager stays in CrashLoopBackOff with the following message:

level=info ts=2021-07-18T11:35:03.013Z caller=main.go:221 msg="Starting Alertmanager" version="(version=0.22.2, branch=HEAD, revisi │
│ on=44f8adc06af5101ad64bd8b9c8b18273f2922051)"                                                                                       │
│ level=info ts=2021-07-18T11

[2021-07-19 14:55] Dunky13 opened #472 "AlertManager errors when values are not defined"
**Describe the bug:** (a clear and concise description of what the bug is)
Starting a fresh cluster with minimal values, and nothing defined for alerts, then alertmanager is started and throws an error shared in the comment below

**To Reproduce**
Steps to reproduce the behavior:
1. Start a fresh cluster with minimal values and don't define values for alerts.
2. Observe alertmanager crashing

**Ex

[2021-07-20 06:11] svatwork commented on #471
If you post the output like this it is hard to read and difficult to make sense of.

I would recommend to make a screenshot with the original command, plus steps to reproduce (e.g. a link to the chart used for example so we can see the start-up options).

[2021-07-20 06:14] svatwork commented on #472
I see you use story syntax for a bug ("As a user..."), that is not necessary and can be a bit confusing. We only use that (imo weird sentence) for a story to indicate a business value as a specific stakeholder, here it is already clear what we need to solve (we don't need to translate a business requirement into a functional requirement).

[2021-07-20 06:16] svatwork commented on #472
Could you elaborate on this, this confuses me a bit. Like where/how did you start a fresh cluster, did you only deploy AlertManager, did you deploy anything else, etc. It is useful to isolate the problem so other people can reproduce it.

[2021-07-20 07:51] Dunky13 commented on #472
Linked to this issue: https://github.com/redkubes/otomi-core/issues/471

[code]

Second to last line: `err="unsupported scheme "" for URL"`

[2021-07-20 07:52] Dunky13 commented on #471
Closing this issue, due to #472 being the same, but with more context and formatted error log

[2021-07-20 07:52] #471 closed

[2021-07-20 07:54] Dunky13 commented on #472
@mojtabaimani and I started a fresh cluster using his chart installer. We used minimal values necessary to successfully start the cluster/stack. Except for setting up alerts. Then this error pops up.

[2021-07-20 08:16] svatwork commented on #353
tl;dr `docker run (...) --user root:root (...)`

Makes sense to me if the user running is on it's own host and knows what he is doing?

[2021-07-20 12:36] Morriz commented on #468
I am not against open conversations, but I can say that I spent quite some time on this, and see no value in revisiting this.

[2021-07-20 13:40] Morriz commented on #472
So did you fix the schema to align `charts.alertmanager.enabled` with the requirement of `alerts`?

[2021-07-20 13:54] Morriz commented on #353
Seems like a valid hack to me for non-osx systems. Please go ahead

[2021-07-20 14:16] Dunky13 commented on #472
No not yet. Will look at it tomorrow

[2021-07-21 06:37] svatwork commented on #405
Haven't noticed anything for 3 months...

[2021-07-21 06:37] #405 closed

[2021-07-21 06:43] Morriz commented on #405
Yeah, overcommitment is a tricky beast. I don't feel supported by k8s in this. We have a cluster overprovisioner that applies a fixed size buffer, but since k8s leaves this to userspace we can only solve this with a fancy (expensive) solution that should exist in k8s core imo.

I think we should just disable this rule altogether if we can't find any good solutions on google.

Did you check online

[2021-07-21 07:54] Morriz commented on #472
This has to be fixed before we can deliver the chart to the public of course

[2021-07-21 10:42] Morriz commented on #403
Should be fixed by latest addition to otomi-tasks with retry mechanism

[2021-07-21 10:42] #403 closed

[2021-07-21 10:45] Morriz commented on #450
fixed in master to not use profiles any more...docs updated as well

[2021-07-21 10:45] #450 closed

[2021-07-23 13:14] svatwork commented on #464
I assigned @Morriz because I infer from the pull request that you want to do it. That's all I know about this anyway since I saw this empty issue and it didn't make much sense to me...

[2021-07-23 14:35] #353 closed

[2021-07-26 09:00] Morriz opened #478 "gitea push should restart api when diff exists"

[2021-07-26 09:02] Morriz commented on #478
I don't know if gitea push exit code is enough, but I assume it exits with 0 if there was anything to push, or another exit code when it has nothing to push. If that is enough to determine an api restart, use it. Otherwise do a diff before and use that output.

[2021-07-27 07:47] j-zimnowoda opened #483 "Unable to login with OpenID connect"
**Describe the bug:**

**To Reproduce**

1. Deploy otomi with default settings
2. Go to gitea dashboard
3. Click `OpenID login` button
4. Observe error 404 not found

**Expected behavior:**
Can login by clicking OpenID button

[2021-07-27 07:49] j-zimnowoda opened #484 "Untrusted certificate cause OIDC login problem in Vault"
**Describe the bug:**

**To Reproduce**

1. Deploy otomi with staging certificate and Vault
2. Go to Vault dashboard and select OIDC login
3. Observe that after pressing Login button a user is not redirected to OIDC login page

**Expected behavior:**
Can login by with OIDC

[2021-07-27 08:37] j-zimnowoda opened #485 "Gitea init script randomly does not push values to remote origin"
**Describe the bug:**

During initial install the `gitea-push.sh` script sometimes does not push values to the Gitea repo.

**To Reproduce**
Steps to reproduce the behavior:

1. Install otomi
2. Observe that
3. Observe that Gitea is not ready

**Expected behavior:** (a clear and concise description of what you expected to happen)

Gitea script waits until Gitea service is ready.

[2021-07-27 08:43] Dunky13 commented on #485
Will fix in new CLI

[2021-07-27 08:46] j-zimnowoda opened #486 "After initial installation vault-external-secrets is crashing"
**Describe the bug:** (a clear and concise description of what the bug is)

 I see the vault-external-secrets pod crashing during the first install. When that happens, you need to kill it and also kill Grafana. Otherwise, Grafana and Loki are not available; I also noticed the install of Harbor runs into issues because of this.

**To Reproduce**
Steps to reproduce the behavior:

1. Deploy otomi fro

[2021-07-27 13:05] #464 closed

[2021-07-27 13:07] Morriz commented on #486
probably due to staging certs not yet working with vault

[2021-07-27 13:08] Morriz commented on #484
probably due to staging certs not yet working with vault

[2021-07-27 16:01] Morriz opened #488 "set defaults depending on mode (CE vs EE)"
All apps should be enabled by default, but some apps can be turned off when installing Otomi:

The default mode for drone/harbor/kubeapps should be enabled in EE and disabled in CE

Todo:

- [ ] consistently set all apps and core services' `enabled` to `default: true`
  - [ ] `otomi-console.gotmpl`: use the new map to update the logic that sets the value for the enabled flags of (team)services
  -

[2021-07-27 16:04] Morriz commented on #488
the issue that started this with some more background info: https://github.com/redkubes/otomi-console/issues/94

[2021-07-27 19:12] #322 closed

[2021-07-27 19:47] Morriz opened #489 "Secure authentication to Kubeapps using KeyCloak"
See: https://github.com/kubeapps/kubeapps/blob/master/docs/user/using-an-OIDC-provider.md

[2021-07-27 19:58] Morriz opened #490 "make schema more robust"
We should inventarize what is now accepted by the schema, but shouldn't, and then update the schema to fix this.

So far we see problems with a `Job`, but I suspect we have not given enough attention to other constructs that are created by the api correctly, but now need to be validated correctly by `otomi validate-values` for CE mode.

[2021-07-27 19:59] Morriz commented on #332
closing in favor of #490

[2021-07-27 19:59] #332 closed

[2021-07-28 07:07] j-zimnowoda opened #491 "Keycloak task does not add redirect-urls for team apps"
# Description

From the picture below, for each team the `https://apps.<team-id>/<cluster-url>` needs to be added to Valid Redirect URIs and Web Origins.

![image.png](https://images.zenhubusercontent.com/5e81a8d81dea46667ed31838/553c9898-20d7-439c-b331-bf315d85edc0)

[2021-07-28 13:07] mojtabaimani opened #492 "Older versions of otomi chart can not be installed."
**Describe the bug:**
The older versions of chart can not be installed.

**To Reproduce**
Steps to reproduce the behavior:
Current chart version is 0.1.6 and if you run `helm install otomi otomi/otomi` or `helm install otomi otomi/otomi --version 0.1.6` then you can install the latest version of the chart which is 0.1.6. But we have an older version which is 0.1.2 and if you try to install that by

[2021-07-28 13:13] #472 closed

[2021-07-28 14:11] svatwork commented on #492
I don't know much about it, but I expect that if you create a new release the most recent Chart gets replaced by the new one.

Is it a bug though?

[2021-07-29 09:50] srodenhuis opened #495 "vault/kubernetes-external-secrets stays in CrashLoopBackOff when installing CE with chart"
When installing Otomi in CE mode with chart, vault/kubernetes-external-secrets pod stays in CrashLoopBackOff.

cert-manager is using production certs

Logs:
[code]

[2021-07-29 10:09] srodenhuis opened #496 "When installing Otomi EE and CE, Jeager app gives a 503"
After installing Otomi with chart (in both EE and CE), Jaeger app gives a 503.

jaeger-operator/jaeger-operator pod shows this error:

time="2021-07-29T08:53:19Z" level=info msg=Versions arch=amd64 identity=jaeger-operator.jaeger-operator jaeger=1.22.0 jaeger-operator=v1.22.1 operator-sdk=v0.18.2 os=linux version=go1.14.15
I0729 08:53:21.939621       1 request.go:621] Throttling request took 1.036

[2021-07-29 11:20] Morriz commented on #492
why would this this problematic?

[2021-07-29 15:33] j-zimnowoda commented on #491
Tested it and the job-keycloak (in otomi-core) templates and applies correctly redirect-uris
Still it is not reflected in keycloak, thus the issue must be in Otomi-tasks repo.

[2021-07-29 16:18] j-zimnowoda commented on #491
Otomi-tasks, branch: fix-keycloak-redirect-uri

[2021-07-31 19:22] srodenhuis opened #498 "otomi validate-values fails because of missing Harbor data while Harbor is not installed"
When deploying Otomi without Harbor, otomi validate-values fails because of missing data in values for Harbor

**To Reproduce**
Steps to reproduce the behavior:

1. Install Otomi without Harbor
2. clone values and bootstrap
3. validate values
4. See error outbut

[code]

[2021-08-02 08:18] j-zimnowoda opened #499 "Drone pipeline is not triggered by changes in git repository"
**Describe the bug:** (a clear and concise description of what the bug is)

**To Reproduce**
Steps to reproduce the behavior:

1. Install otomi from chart
2. After successful installation go to otomi dashboard and make a change in any configuration
3. Deploy changes
4. Observe that drone pipeline is not triggered
5. Observe that `.drone.yml` is not generated

**Expected behavior:** (a clear and co

[2021-08-02 08:24] j-zimnowoda commented on #499
The solution comes with the new CLI

[2021-08-02 14:30] mojtabaimani opened #500 "Helm chart repository previous versions"
**Describe the bug:**
When making a new otomi chart release, it will override the index.yaml file of the chart repository and doesn't keep the previous versions. But it should just append the new version to the current index.yaml.

**To Reproduce**
Steps to reproduce the behavior:

1. change the version of the chart in chart/otomi/chart.yaml and push to master
2. go to branch: gh-pages and look at

[2021-08-02 17:40] Dunky13 commented on #499
Drone generation is fixed in the new CLI. Using bootstrap is should generate automagically now.

[2021-08-04 08:55] Morriz commented on #447
possible solution: don't set runAsUser for that container and exclude policy check via annotations.

[2021-08-04 08:56] #488 closed

[2021-08-04 12:49] mojtabaimani commented on #498
This is the problem with harbor validation-valuse:
in bootstrap stage, we copy all empty files from .values/env to the helm chart pod, then merge them with new user values. this is the content of the .values/env/charts/secrets.harbor.yaml:
[code]
we created this empty skeleton to help user to fill the values but now user should rely on schema and autocompletion to create correct value files. then

[2021-08-05 08:37] #498 closed

[2021-08-05 09:20] mojtabaimani commented on #500
related link: https://helm.sh/docs/howto/chart_repository_sync_example/#generate-an-updated-indexyaml

[2021-08-09 14:30] j-zimnowoda opened #508 "While installing otomi through a chart, values seems to not be available for helmfile"
**Describe the bug:** (a clear and concise description of what the bug is)
While installing otomi through a chart, values seems to not be available for helmfile

**To Reproduce**
Steps to reproduce the behavior:

1.  `helm install otomi chart/otomi -f ../values-mojtaba-02-EE-production.yaml`
2. See error inside Pod
[code]
**Expected behavior:** (a clear and concise description of what you expected

[2021-08-09 14:34] j-zimnowoda opened #509 "Files are decrypted even if sops configuration is not provided"
**Describe the bug:** (a clear and concise description of what the bug is)

**To Reproduce**
Steps to reproduce the behavior:

1. Install otomi from chart: `helm install otomi chart/otomi -f ../values-mojtaba-02-EE-production.yaml`
2. The `otomi apply` command produces the following error:
[code]
**Expected behavior:** (a clear and concise description of what you expected to happen)
Skip decryptio

[2021-08-10 01:26] Morriz commented on #508
fixed in master by encrypting during bootstrap

[2021-08-10 01:26] #508 closed

[2021-08-10 01:26] Morriz commented on #509
fixed in master

[2021-08-10 01:26] #509 closed

[2021-08-11 11:37] j-zimnowoda opened #512 "Uninstalling gatekeeper-operato chart does not remove gatekeeper-postinstall-job"
**Describe the bug:** (a clear and concise description of what the bug is)
Uninstalling  gatekeeper chart does not remove gatekeeper-postinstall-job
**To Reproduce**
Steps to reproduce the behavior:

1. Install gatekeeper-operator chart
2. helm uninstall gatekeeper-operator
3. Install gatekeeper-operator chart
4. Observe error:

[code]

Workaround:
[code]

**Expected behavior:** (a clear and conci

[2021-08-11 12:15] j-zimnowoda opened #513 "the otomi destroy command does not work"
**Describe the bug:** (a clear and concise description of what the bug is)

**To Reproduce**
Steps to reproduce the behavior:
1. otomi destroy -vvv
[code]
3. Observer that nothing is destroyed and command exit code is not zero

[2021-08-11 14:15] j-zimnowoda opened #514 "The otomi apply command logs helmfile output as errors"
**Describe the bug:** (a clear and concise description of what the bug is)

**To Reproduce**
Steps to reproduce the behavior:

1. run `otomi apply`
2. Observe that `otomi:apply:error ` logs lines that shall be just info
[code]

**Expected behavior:** (a clear and concise description of what you expected to happen)
Log helmfile logs as info instead of error.

**Screenshots:** (if applicable, add sc

[2021-08-16 07:43] Dunky13 commented on #514
Sadly not a bug. Helmfile pipes these lines to stderr, not stdout. That's why it's printed as error. I could write a test to see if it should print as error or not, but that sounds too convoluted?

[2021-08-16 07:46] Dunky13 commented on #513
The reason things are not printed, even with multiple V's is because all helmfile commands are run without piping stderr. It shouldn't take lot of time to print to stderr to find what's wrong

[2021-08-16 08:49] Morriz commented on #512
@j-zimnowoda can this also be reported upstream please? and create a PR if you think this has prio (I don't think so). Otherwise put the issue in "On hold" and report what is being waited for.

@redkubes/devops Can we please _always_ do this when the bug is in a 3rd party app/chart? Don't just only report a bug here in core.

[2021-08-16 09:37] Morriz commented on #514
closing as this is expected behaviour...but please document in otomi.io with some lines @Dunky13

[2021-08-16 09:37] #514 closed

[2021-08-16 09:39] Morriz commented on #513
this is problematic @Dunky13. Can you fix that? Also, when ENV_DIR is not set, or the wrong command is given (typo), the cli returns without feedback. Can you fix that also?

[2021-08-16 09:41] Dunky13 commented on #513
@Morriz is this a separate issue?

Yes I can, but I'm starting up after a week off, trying to see what has changed.

[2021-08-17 07:47] j-zimnowoda opened #516 "The otomi CLI self update does not work"
**Describe the bug:**
The otomi CLI self update does not work.

**To Reproduce**
Steps to reproduce the behavior:

1. Set `otomi.version` to your feature branch
2. Runu Otomi Cli and answer `yes` to update otomi CLI
3. See error
[code]

**Expected behavior:**
Describe in which scenarios otomi CLI shall update and make sure code works according to use cases

[2021-08-17 09:49] Dunky13 opened #517 "envalid.ts contains bug that doesn't parse .secrets properly"
**Describe the bug:** (a clear and concise description of what the bug is)
if `ENV_DIR/.secrets` contains `export FOO=BAR`, then `src/common/envalid.ts` won't parse FOO=BAR, because of the export

**To Reproduce**
Steps to reproduce the behavior:

1. Create a .secrets file with exported variables
2. Print `env` in playground
3. Observe that FOO is not parsed

Alernative:
1. have ENV_DIR point to v

[2021-08-17 10:41] #499 closed

[2021-08-17 10:42] #485 closed

[2021-08-17 12:05] Dunky13 opened #518 "Implement unit tests"
**Is your feature request related to a problem? Please describe.**
Currently we do not unit test our CLI. We don't have a unit test framework selected.

**Describe the solution you'd like**
Investigate which unit test framework works best for ES2021 combined with ESM

And implement initial unit tests. Let's get to 80+% :)

[2021-08-17 12:06] j-zimnowoda commented on #517
Thanks, for reporting.
This bug make also prevent you from performing `git push` as git hook triggers otomi lint as well.

[2021-08-18 09:19] j-zimnowoda opened #522 "Support pushing to gitea repository while using staging certificates"
**Is your feature request related to a problem? Please describe.**

Git clients complains about staging certificates.

**Describe the solution you'd like**
Configure git to ignore TLS if staging certificates are used

**Additional context** Add any other context or screenshots about the feature request here.
[code]

[2021-08-18 14:59] j-zimnowoda commented on #522
So we see that any request to url with staging certificate will fail because the certificate is not trusted.

This is on CLI level so we need to find a solution that works for both scenarios:
- CLI used from chart
- CLI use by user from shell

[2021-08-19 08:17] #517 closed

[2021-08-19 08:18] #274 closed

[2021-08-19 15:05] #522 closed

[2021-08-20 09:16] Dunky13 opened #525 "CLI: Decryption doesn't happen on apply anymore"
**Describe the bug:**
Decrypt needs to run manually before running apply. This step should be implied when running apply.

This should also run in CI mode, the decider whether or not decrypt should run is whether or not a `.sops.yaml` file is present

**Use cases**
In the chart installation decrypt is ran manually before apply. This step should be unnecessary as it should be ran by apply implicitl

[2021-08-20 13:21] Dunky13 opened #527 "CLI: Installing otomi fails in bootstrap phase"
**Describe the bug:**
Bootstrap fails in several key locations, so CLI instal can not && will not work.

**To Reproduce**
1. Start a new cluster on eks.
2. create an empty ENV_DIR location to store the values in.
3. Run `otomi bootstrap`

Current results, as is:
It fails, since `bootstrap git` cannot get values
If I run `bootstrap values` first and then `bootstrap git` then it fails on the git as

[2021-08-23 07:27] Dunky13 commented on #527
Questions that can be asked:
- Do you want to store the values on the cluster?
  - Yes: Set charts.gitea.yaml enabled=true
  - No: Ask for git repo, username, password, email
- Do you want to encrypt the secrets?
  - Yes: Select KMS provider (aws,google,azure,vault)
  -  No: Do nothing
- Cluster related questions
  - provider
  - region
  - name
  - domainSuffix
  - apiServer

[2021-08-23 09:47] Morriz commented on #527
Indeed it's a good idea to get the minimal input for the CLI as well (chart does the same) with a wizard.
You have to make sure to collect all of the minimal input then. (What you presented in the below list i not complete).

Please see below for some feedback on phrasing:

I would ask: Do you want otomi to store it's gitops values in-cluster at gitea.$domainSuffix/otomi/values? (If not we will as

[2021-08-23 15:15] Morriz commented on #513
yes...some commands don't give feedback but I thought that would be known by now...

[2021-08-23 15:19] Morriz commented on #516
Why would that update url exist? I can see that it won't work when the url is generated with `https://raw.githubusercontent.com/redkubes/otomi-core/$IMAGE_TAG/binzx/otomi` and one is working in core in a feature branch

[2021-08-23 17:56] Morriz commented on #525
closing as already fixed

[2021-08-23 17:56] #525 closed

[2021-08-24 07:56] svatwork opened #529 "domainSuffix not set as required in values-schema.yaml, but still required"
**Describe the bug:** (a clear and concise description of what the bug is)

Tried to deploy an onprem cluster, I don't think I need a `domainSuffix` (?) -- it's also not required in `values-schema.yaml`. But then `helmfile` still complains about istio-operator-artifacts, which I can't disable in my otomi-values:

[code]

[2021-08-24 08:27] svatwork commented on #529
Maybe not merged with master

[2021-08-24 08:33] svatwork commented on #500
https://github.com/helm/chart-releaser/issues/122

[2021-08-24 08:36] dominikatrela commented on #500
@mojtabaimani please create a story out of this and it in backlog

[2021-08-24 09:00] mojtabaimani opened #531 "Update default values.yaml file in otomi chart"
Update `otomi-core/chart/otomi/values.yaml` to be a typical default otomi chart values.yaml file.  So users can download the values.yaml file and fill the values and install the chart. Automatic password generation is prerequisite for this task because then we can remove passwords from default values.yaml file.

[2021-08-24 12:55] svatwork commented on #529
Reproduced it in master.

[2021-08-24 16:54] Morriz commented on #529
please set it to be required as it should be @svatwork

[2021-08-25 08:20] svatwork commented on #529
If anyone could pick this up, just add `domainSuffix` to `required` under `cluster` in `values-schema.yaml`.

[2021-08-25 09:31] Morriz commented on #483
do we care in dev mode? I think this is not a problem

[2021-08-25 12:23] svatwork commented on #492
Because it will not make a nice list of releases on the static html generated by the `gh-pages` branch.

[2021-08-25 14:46] #527 closed

[2021-08-25 15:06] Dunky13 opened #545 "CLI: Refactor git calls"
Would like to refactor all git calls (`$'git <some git command>' - where ' is a backtick`) to use simple-git https://www.npmjs.com/package/simple-git and be more node/JS native, and even less reliant on bash.

[2021-08-27 10:06] Dunky13 opened #551 "Add `otomi install` command"
**Is your feature request related to a problem? Please describe.**
Add a `otomi install` command that does: `bootstrap, apply, commit` in that order. That way we can simplify the logic of the chart installer more, and unify the installation process between CLI & chart more.

**Describe the solution you'd like**
An independent command to run otomi install for the first time

**Describe alternatives

[2021-08-30 08:20] Dunky13 opened #554 "Clean up code after the weekend"
I saw some changes that didn't make sense after the weekend. Needs minor cleaning.

Closed by #556

[2021-08-30 08:26] j-zimnowoda opened #555 "Job fails to connect to Keycloak"
**Describe the bug:** (a clear and concise description of what the bug is)

The job uses the fault tolerant fetch to ensure that there keycloak service is responsive.
We observe that the fetch is performed successfully and then the next HTTP request fails due to lack of DNS record.

**To Reproduce**
Steps to reproduce the behavior:

1. Install otomi from the very first time
2. Observe that job-key

[2021-08-30 09:27] j-zimnowoda opened #557 "The otomi.isManaged flag shall be required"
**Describe the bug:**
The schema does not define the `otomi.isManaged` flag as required one.

**To Reproduce**
Steps to reproduce the behavior:

1. Prepare values where  `otomi.isManaged` flag  is not provided
2. Perform `otomi template`
2. Observe prometheus-operator failure

**Expected behavior:**
The `otomi validate-values` shall report error.

**Additional context:**
[code]

[2021-08-30 09:41] j-zimnowoda opened #558 "Otomi deployment on AWS cluster fails if `otomi.hasCloudLB` flag is not provided"
**Describe the bug:**
Otomi deployment on AWS cluster  fails if `otomi.hasCloudLB` flag is not provided

**To Reproduce**
Steps to reproduce the behavior:

1. Prepare values that does not contain `otomi.hasCloudLB`
2. Perform `otomi template`
3. Observe parsing error in helmfile-20.ingress.yaml

**Expected behavior:**
The validation routine shall require the `otomi.hasCloudLB` flag if `otomi.provi

[2021-08-30 09:46] j-zimnowoda opened #559 "Run jobs after ingress related charts are installed"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem

It does not make sense to start job-keycloak `helmfile-19.ingress-init.yaml` before ingress related charts `helmfile-20.ingress.yaml`, because usually jobs requires ingress to communicate with other services.

**Describe the solution you'd like** A clear and concise description o

[2021-08-30 14:19] Dunky13 commented on #558
Does this commit fix this issue: https://github.com/redkubes/otomi-core/commit/cef222cb723f9f2e47b83123354f6772cf10d354?

[2021-08-30 19:26] Morriz commented on #558
idd

[2021-08-30 19:26] #558 closed

[2021-08-30 21:31] Morriz commented on #555
this was actually an issue in the tasks repo @j-zimnowoda, but it is already fixed in latest master there

[2021-08-30 21:31] #555 closed

[2021-08-31 07:39] j-zimnowoda opened #560 "The otomi validate values failure on kntaive service creation"
**Describe the bug:**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to otomi-console and create kntaive service for a team (see additional context)
2. Click on Deploy button
3. Observe that Drone pipeline fails on `tests` stage
See: https://drone.demo.aks.otomi.cloud/otomi/values/6/1/4

**Expected behavior:**
Deployment of knative succeeds

**Cluster(s):**

- Cloud: azure
- Cluster: de

[2021-08-31 08:20] #554 closed

[2021-08-31 08:35] Morriz commented on #560
Please deploy first with latest master, as this test does not validate values, so I think this is an old image.

[2021-08-31 08:37] Morriz commented on #560
We can close this as won't fix because this is on an old image, and we can't reproduce this.

[2021-08-31 10:12] Dunky13 opened #562 "Make teams more robust if empty don't make it mandatory"
values-schema requires `teamConfig` but not `teamConfig.teams`

But `validate-templates` & `validate-values` do require the latter. Make it optional in helm

[2021-08-31 19:48] Morriz commented on #559
The dependencies are maintained in the code in the helmfile order, so no need for an adr on that imo as it is a living thing and not a (waterfall) design. Adrs are to elaborate on decisions involving architecture, not reference material.

[2021-08-31 19:49] Morriz commented on #559
But go ahead and move the job somewhere later. No need to rename that other file imo

[2021-09-01 13:42] svatwork opened #565 "Can compose otomi with Unix stuff"
**Is your feature request related to a problem? Please describe.** A clear and concise description of what the problem
is. Ex. I'm always frustrated when [...]

I can't pipe otomi output, e.g. from `otomi template`.

**Describe the solution you'd like** A clear and concise description of what you want to happen.

I can pipe, redirect, etc. E.g. part of my output from `otomi template -l name=cert-m

[2021-09-01 13:47] Dunky13 commented on #565
Cannot recreate:
[code]

[2021-09-01 14:46] svatwork commented on #565
Couldn't do it for some reason with an alias, non-issue.

[2021-09-01 14:46] #565 closed

[2021-09-01 15:10] mojtabaimani opened #567 "validate-values fails after a fresh chart installation"
**Description**

I installed otomi chart and after a successful installation, I cloned the values from gitea and ran binzx/otomi validate-values with cli and then it failed.

**To Reproduce**
clone values from gitea.mojtaba.eks.otomi.cloud and add .secret file then run binzx/otomi validate-values

**Expected behavior:**
It should validate successfully.

**Screenshots:**
[code]
**Cluster(s):**
otom

[2021-09-01 15:30] Morriz commented on #486
never see this happening anymore, closing

[2021-09-01 15:30] #486 closed

[2021-09-01 15:31] #513 closed

[2021-09-01 15:31] Morriz commented on #513
closing as fixed

[2021-09-01 15:35] mojtabaimani opened #568 "Otomi destroy get stuck at the middle of destroying process"
**Describe the bug:**
`otomi destroy` get stuck after uninstalling some of the apps.

**To Reproduce**
Install otomi chart then destroy the otomi by cli

This is the output of the `helm list -aA` while `otomi destroy` is stuck:
[code]

[2021-09-01 17:55] mojtabaimani commented on #567
I destroyed my cluster and created a new one and installed otomi chart again and the validation is successful now. So I close this issue.

[2021-09-01 17:55] #567 closed

[2021-09-01 18:11] mojtabaimani opened #569 "otomi-status configmap is not created after chart installation."
**Describe the bug:**
I installed the chart successfully but otomi-status configmap was not created after the chart installation. So, another chart installation could run inside the cluster on top of this one.

According to the line 57 of src/cmd/apply.ts, we create a configmap after chart installation to prevent another chart installation on top of the first one. User should modify or destroy oto

[2021-09-01 18:27] mojtabaimani commented on #568
got stuck in otomi destroy again, even after recreating the cluster.
this is the helm list now:
[code]

[2021-09-01 18:40] mojtabaimani commented on #568
The only way I could stop the process was restarting the docker engine. Then I saw this error message:
[code]

[2021-09-01 18:48] mojtabaimani commented on #568
after two failed try with `binzx/otomi destroy`, I tried the old cli `bin/otomi destroy` and it destroyed the whole otomi successfully.

[2021-09-02 08:01] Dunky13 commented on #568
Weird, I just ran `binzx/otomi destroy -vvv` without issue uninstalled all (except otomi chart job)

[2021-09-02 08:51] mojtabaimani opened #571 "wc command in binzx/otomi generate extra empty space in $count"
**Describe the bug:**

When generating a container_name in binzx/otomi wc will produce extra empty space in some os and it causes errors

it should be for example:
`otomi-core-dev-container1`
but it generates:
`otomi-core-dev-container 1`

[2021-09-02 09:02] #562 closed

[2021-09-02 09:08] mojtabaimani opened #572 "Don't generate secrets again when chart installation job fails and restart."
**Describe the bug:**
when chart installation job fails at the middle, then the pod will restart and all secrets will be regenerated again and it makes problems for apps that has been already deployed in previous attempt.

**To Reproduce**
install the chart and delete the chart before finishing the installation, then try to install the chart again and you will see the passwords are regenerated.

*

[2021-09-02 09:19] #571 closed

[2021-09-02 09:29] Dunky13 commented on #569
It works in CLI apply - so need to investigate in chart install

[2021-09-02 09:46] mojtabaimani commented on #572
Also we need to delete that when the chart is successfully installed.

[2021-09-02 09:49] mojtabaimani opened #573 "chart/otomi default values.yaml are outdated."
**Describe the bug:**
default values.yaml file in otomi chart are not correct.

**Expected behavior:**
The default values.yaml should conform with the values-schema.yaml

[2021-09-02 09:52] Morriz commented on #573
Can you please add only the minimal values there now? Just ask Sander if you don't know what that is, but there should be a script that generates those, right? Or did that not materialize? Probably not, so manually then for now

[2021-09-02 14:47] Morriz commented on #569
closing as fixed by making the chart also use `commitOnFirstRun`

[2021-09-02 14:47] #569 closed

[2021-09-02 19:45] Morriz commented on #571
please either fix this with a proper bash replacement or update the code to say we require gnu tools:
[code]

[2021-09-02 19:47] Morriz commented on #571
I would love to see these little bugs be fixed the moment they are understood to be a simple and quick fix ;)

[2021-09-02 19:47] Morriz commented on #573
just updated in master

[2021-09-02 19:47] #573 closed

[2021-09-02 19:48] #560 closed

[2021-09-02 20:36] Morriz opened #576 "gitea chart takes too long during install because of keycloak dependency"
**Describe the bug:** (a clear and concise description of what the bug is)

Gitea chart deployment fails too often because there is no waiting job for its deps: oidc (keycloak).
This leads to backoff strategy kicking in, making gitea install sometimes take 15 or more minutes.

Remedy:

add a wait-for container to the gitea chart, just like we have now in the jobs...

**To Reproduce**
Steps to repr

[2021-09-03 09:47] mojtabaimani opened #577 "<$cluster.cluster.provider>: map has no entry for key "provider""
**Describe the bug:**
If I open otomi-core in remote container, I can not bootstrap and I receive this error:

[code]

**To Reproduce**
1- open otomi-core in remote-container mode
2- run binzx/otomi bootstrap

[2021-09-03 09:49] Dunky13 commented on #577
Fixed in https://github.com/redkubes/otomi-core/pull/575/files#diff-7b86a94839cdb5c6fa1d648db23c4e6d48e533ac67652d62b24b0be3932de38fR56

[2021-09-03 09:53] mojtabaimani opened #578 "conflict in container name in otomi-core local debugging"
**Describe the bug:**
When you open otomi-core in remote-container for debugging, you can not run otomi cli in your local machine anymore and you will get this error message:

[code]

**To Reproduce**
open otomi-core in remote-container, then run otomi bootstrap command in your local computer.

[2021-09-03 09:56] mojtabaimani commented on #578
I had to delete the container: otomi-core-dev-container-1 manually to be able to run otomi bootstrap in my computer

[2021-09-03 09:58] mojtabaimani commented on #577
I don't know why. by the way markdown problem is only in side window mode.
if you open it in new window it will work.

[2021-09-03 10:00] mojtabaimani commented on #577
the same problem in the local machine exist as well.

[2021-09-03 12:31] Morriz commented on #578
Maybe you had a run that got cancelled and resulted in container not being removed?

This is not happening to me at all (I think docker nicely removes containers with `--rm`), so I would like to ask you to ask others if they suffer from the same.

If this is about commands being run in the docker container, can you `echo $IN_DOCKER` there? That should be set as it is in the Dockerfile, but if it i

[2021-09-06 07:21] j-zimnowoda commented on #577
Are you sure that `env` directory is mapped properly?

[2021-09-06 08:24] Morriz opened #580 "helm chart does not get published"
**Describe the bug:** (a clear and concise description of what the bug is)

When a change to the version in `chart/otomi/Chart.yaml` gets pushed to master this does not always trigger a new chart release.

Reason:

The logic that checks for diff changes in `chart/otomi/Chart.yaml` is only taking into account the previous commit, but the pipeline containing the version change may have been skipped

[2021-09-06 09:36] Morriz commented on #500
@svatwork I removed your link to a chart releaser action issue, as that was unrelated (feature request to overwrite existing release, which should never happen imo).

[2021-09-06 11:16] j-zimnowoda opened #582 "Calling otomi CLI without arguments should print usage message"
**Describe the bug:**
Calling otomi CLI without arguments should print usage message
**To Reproduce**
Steps to reproduce the behavior:

1. In shell call: `otomi`
2. See error:   otomi:global:error Not enough non-option arguments: got 0, need at least 1 +0ms

**Expected behavior:**
To see command usage and exit with 1.

[2021-09-06 11:52] j-zimnowoda commented on #568
I could also reproduce that error.
To me it looks like Kubectl credentials expires and otomi CLI is not able to refresh them.

It is a known issue that we have never been able to solve properly, because refreshing token means using 3rd part CLI like (aws/gcp/az) that are called by Kubectl under the hood.

[2021-09-06 12:31] j-zimnowoda commented on #490
My approach for that is to generate values from schema inspect the output to find pitfals to improve schema definition. I decide to use: https://www.npmjs.com/package/fake-schema-cli tool
e.g.:
[code]

[2021-09-06 15:27] j-zimnowoda commented on #490
Some examples generated with tool:
[code]

[2021-09-06 15:39] #580 closed

[2021-09-07 07:26] Morriz commented on #577
closing as exotic and won't fix because this bug report is currently not pointing to any bug in this repo

[2021-09-07 07:26] #577 closed

[2021-09-07 09:32] #531 closed

[2021-09-08 09:10] j-zimnowoda commented on #490
Not fixed findings:
`teamConfig.teams.$name.jobs` seems to expect double array

[2021-09-08 09:22] j-zimnowoda commented on #490
Schema generation before:
Schema generation after:
[https://app.zenhub.com/files/200118806/56735555-67db-43d4-9d94-d26808bc4bf6/download](https://app.zenhub.com/files/200118806/56735555-67db-43d4-9d94-d26808bc4bf6/download)